common/force-app/main/default/flows/Account_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Account_Add_Email_to_PA_field_Sub_Flow</name>
        <label>Account: Add Email to PA field Sub Flow</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Account_ID_check_for_active_PA_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Add_Email_to_PA_field_Sub_Flow1</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Has_1_Investment_Sub_Flow</name>
        <label>Account: Has 1 Investment Sub Flow</label>
        <locationX>182</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Account_Update_retail_checkbox_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122v000001bzMaAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Made_1_Investment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Has_1_Investment_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_ID_check_for_active_PA_Sub_Flow</name>
        <label>Account: ID check for active PA Sub Flow</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Account_Opt_out_deceased_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ID_Checked__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_ID_check_for_active_PA_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Opt_out_deceased_Sub_Flow</name>
        <label>Account: Opt out deceased Sub Flow</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Account_Website_Update_to_Related_EOI_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deceased__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Opt_out_deceased_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Update_retail_checkbox_Sub_Flow</name>
        <label>Account: Update retail checkbox Sub Flow</label>
        <locationX>182</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>EOI_Ventures_Company_Creation_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger8</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wholesale__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EIC_Property__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EIC_Startup__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Platinum_Partner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retail__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Update_retail_checkbox_Sub_Flow1</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Website_Update_to_Related_EOI_Sub_Flow</name>
        <label>Account Website Update to Related EOI Sub Flow</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Person_Account_Allocate_Bpay_Sub_Flow1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125i0000008TfxAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Website_Update_to_Related_EOI_Sub_Flow1</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Accounts_Update_Past_Actions_on_Accounts_Sub_Flow</name>
        <label>Accounts: Update Past Actions on Accounts Sub Flow</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Account_Add_Email_to_PA_field_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Action__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accounts_Update_Past_Actions_on_Accounts_Sub_Flow1</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>EOI_Ventures_Company_Creation_Sub_Flow</name>
        <label>EOI Ventures Company Creation Sub Flow</label>
        <locationX>182</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>New_Entity_Notify_Account_Owner_Investorsub_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125i0000008TfyAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Create_Company_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccCreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Background_Information__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ventures_Company_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EOI_Ventures_Company_Creation_Sub_Flow1</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Entity_Notify_Account_Owner_Investorsub_flow</name>
        <label>New Entity Notify Account Owner &amp; Investorsub flow</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>New_Entity_Notify_Investor_Verification_Completed_sub_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger11</name>
            <conditionLogic>(1 OR 3) AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Created_via_Portal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCbusinessAccRecordTypeID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Entity_Account_owner_Investor_email_sub_flow</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Entity_Notify_Investor_Verification_Completed_sub_flow</name>
        <label>New_Entity_Notify_Investor_Verification_Completed sub flow</label>
        <locationX>182</locationX>
        <locationY>3323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCbusinessAccRecordTypeID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Entity_Notify_Investor_Verification_Completed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Account_Allocate_Bpay_Sub_Flow1</name>
        <label>Person Account: Allocate Bpay Sub Flow</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Account_Has_1_Investment_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assign_BPAY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BPAY__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Bpay_Sub_Flow_Flow_1</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <description>This flow should house all subflows related to the account object.</description>
    <environments>Default</environments>
    <formulas>
        <name>AccCreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE($Record.CreatedDate)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Account Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Accounts_Update_Past_Actions_on_Accounts_Sub_Flow</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This flow triggers on VC Record type Accounts and will add their email to a new field called “PA Email”&quot;</description>
        <name>Account_Add_Email_to_PA_field_Sub_Flow1</name>
        <label>Account: Add Email to PA field Sub Flow</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Account_ID_check_for_active_PA_Sub_Flow</targetReference>
        </connector>
        <flowName>Account_Add_Email_to_PA_field_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This sub flow triggers to allocate an available bpay record to the triggering account.</description>
        <name>Account_Bpay_Sub_Flow_Flow_1</name>
        <label>Account: Bpay Sub Flow Flow</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>Account_Has_1_Investment_Sub_Flow</targetReference>
        </connector>
        <flowName>Account_Bpay_Sub_Flow</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This Sub flow is used to update the “First Investment Date” Field on account once the “Has made 1 investment” Field = TRUE.&quot;</description>
        <name>Account_Has_1_Investment_Sub_Flow1</name>
        <label>Account: Has 1 Investment Sub Flow</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Account_Update_retail_checkbox_Sub_Flow</targetReference>
        </connector>
        <flowName>Account_Has_1_Investment_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This sub flow will trigger when Account: ID Checked EQUALS True and update the field Account: Active = TRUE&quot;</description>
        <name>Account_ID_check_for_active_PA_Sub_Flow1</name>
        <label>Account: ID check for active PA Sub Flow</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Account_Opt_out_deceased_Sub_Flow</targetReference>
        </connector>
        <flowName>Account_ID_check_for_active_PA_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This sub flow Opts out the account from emails if deceased = True</description>
        <name>Account_Opt_out_deceased_Sub_Flow1</name>
        <label>Account: Opt out deceased Sub Flow</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Account_Website_Update_to_Related_EOI_Sub_Flow</targetReference>
        </connector>
        <flowName>Account_Opt_out_deceased_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This sub flow Updates the retail checkbox on account as long as the account is not wholesale in any aspect.</description>
        <name>Account_Update_retail_checkbox_Sub_Flow1</name>
        <label>Account: Update retail checkbox Sub Flow</label>
        <locationX>50</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>EOI_Ventures_Company_Creation_Sub_Flow</targetReference>
        </connector>
        <flowName>Account_Update_retail_checkbox_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This sub flow will trigger If the Website link of an account is updated it will update that on the EOI</description>
        <name>Account_Website_Update_to_Related_EOI_Sub_Flow1</name>
        <label>Account Website Update to Related EOI Sub Flow</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Person_Account_Allocate_Bpay_Sub_Flow1</targetReference>
        </connector>
        <flowName>Account_Website_Update_to_Related_EOI_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This Sub Flow Allows teams to set their next action to nurture an account and track what&apos;s next</description>
        <name>Accounts_Update_Past_Actions_on_Accounts_Sub_Flow1</name>
        <label>Accounts: Update Past Actions on Accounts Sub Flow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Account_Add_Email_to_PA_field_Sub_Flow</targetReference>
        </connector>
        <flowName>Accounts_Update_Past_Actions_on_Accounts_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>This sub flow is used to create a business account an relate it to the person account.</description>
        <name>EOI_Ventures_Company_Creation_Sub_Flow1</name>
        <label>EOI Ventures Company Creation Sub Flow</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>New_Entity_Notify_Account_Owner_Investorsub_flow</targetReference>
        </connector>
        <flowName>EOI_Ventures_Company_Creation_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>New_Entity_Account_owner_Investor_email_sub_flow</name>
        <label>New Entity Account owner &amp; Investor email sub flow</label>
        <locationX>50</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>New_Entity_Notify_Investor_Verification_Completed_sub_flow</targetReference>
        </connector>
        <flowName>New_Entity_Account_owner_Investor_email_sub_flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>New_Entity_Notify_Investor_Verification_Completed</name>
        <label>New_Entity_Notify_Investor_Verification_Completed</label>
        <locationX>50</locationX>
        <locationY>3431</locationY>
        <flowName>New_Entity_Notify_Investor_Verification_Completed</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>VCbusinessAccRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0122v000001bzCzAAI</stringValue>
        </value>
    </variables>
</Flow>
