common/force-app/main/default/flows/Comment_Posted_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Moderator</name>
        <label>Comment__c.Alert_Moderator</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Comment__c.Alert_Moderator</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Comment__c.Alert_Moderator</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Migrated from the: Comment Posted Date workflow rule
Workflow rule description: This workflow will alert some specified users that a comment has been left on a Retail deal page. Then is will update the “Comments posted date field updation” Field with the date of the comment.&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>Comments_posted_date_field_updationFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Comment: Comment Posted Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Comment: Comment Posted Date</label>
    <migratedFromWorkflowRuleName>Comment Posted Date</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Alert_Moderator</targetReference>
        </connector>
        <inputAssignments>
            <field>Posted_Date__c</field>
            <value>
                <elementReference>Comments_posted_date_field_updationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>comments__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Comment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
