common/force-app/main/default/flows/Create_Event_Template_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Default_Last_Name</name>
        <label>Set Default Last Name</label>
        <locationX>666</locationX>
        <locationY>4229</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotProvided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_have_a_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invitee_Last_Name</name>
        <label>Set Invitee Last Name</label>
        <locationX>578</locationX>
        <locationY>4013</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeLastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invitee_Last_Name_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account</name>
        <label>PersonAccount?</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Find_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not PersonAccount</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches PersonAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign</name>
        <label>Campaign?</label>
        <locationX>2075</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Find_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Campaign</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case</name>
        <label>Case?</label>
        <locationX>1596</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Find_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Case</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact</name>
        <label>Contact?</label>
        <locationX>2273</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Find_Publisher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contact</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Matched</name>
        <label>Contact Matched?</label>
        <locationX>1124</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Match_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Found with Invitee Email</defaultConnectorLabel>
        <rules>
            <name>Invitee_Email_matches_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>Invitee Email matches Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract</name>
        <label>Contract?</label>
        <locationX>1844</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Find_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contract</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contract</label>
        </rules>
    </decisions>
    <decisions>
        <description>The main goal of this flow is to create an Event ( a type of Activity ).  But we must create that Event within an existing record.

Also, create a lead record for all the possibilities</description>
        <name>Do_we_have_a_Record</name>
        <label>Do we have a Record?</label>
        <locationX>578</locationX>
        <locationY>4421</locationY>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead1</targetReference>
            </connector>
            <label>No Record Found</label>
        </rules>
        <rules>
            <name>PersonAccount_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead2</targetReference>
            </connector>
            <label>PersonAccount Found</label>
        </rules>
        <rules>
            <name>Lead_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_record_found_is_old</targetReference>
            </connector>
            <label>Lead Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>While looking up the records, if we found one, we would have set the OwnerId as the record owner.

In the last step, we attempted to overwrite the OwnerId with the id of the user whose email matches the publisher.

So at this point, we hope to have an owner defined.  If we don&apos;t we&apos;ll have to look up the system admin.</description>
        <name>Event_Owner</name>
        <label>Event Owner?</label>
        <locationX>578</locationX>
        <locationY>3113</locationY>
        <defaultConnector>
            <targetReference>Find_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Owner not Present</defaultConnectorLabel>
        <rules>
            <name>Event_Owner_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invitee_Last_Name</targetReference>
            </connector>
            <label>Event Owner Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invitee_Last_Name_Exists</name>
        <label>Invitee Last Name Exists?</label>
        <locationX>578</locationX>
        <locationY>4121</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Last Name</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Record</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_invitee_created</name>
        <label>Invitee created?</label>
        <locationX>3004</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invitee_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFID_Provided</targetReference>
            </connector>
            <label>Invitee created</label>
        </rules>
    </decisions>
    <decisions>
        <description>We cannot update a converted lead.  If the lead is converted, we need to try and find the contact it was converted to.</description>
        <name>Is_it_Converted</name>
        <label>Is it Converted?</label>
        <locationX>601</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Find_Publisher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Active</defaultConnectorLabel>
        <rules>
            <name>Lead_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadConvertedAt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Converted_Contact</targetReference>
            </connector>
            <label>Lead Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead</name>
        <label>Lead?</label>
        <locationX>862</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Match_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Lead</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Converted</targetReference>
            </connector>
            <label>SFID matches Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Matched</name>
        <label>Lead Matched?</label>
        <locationX>1340</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Find_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Invitee_Email_matches_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_it_Converted</targetReference>
            </connector>
            <label>Invitee Email matches Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will check if the existing lead is created through calendly and is not a very old lead. If both the conditions meet then only it will create a lead record</description>
        <name>Lead_record_found_is_old</name>
        <label>Lead record found is old</label>
        <locationX>710</locationX>
        <locationY>4529</locationY>
        <defaultConnector>
            <targetReference>Create_Event4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_a_old_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createddate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>websource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calendly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead3</targetReference>
            </connector>
            <label>It is a old lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>If we cannot find the system admin profile, we cannot find the system admin.  And if we&apos;re at this point in the logic, we have no other owner.

So there&apos;s no path forward if the profile is not found.</description>
        <name>Profile_Found</name>
        <label>Profile Found?</label>
        <locationX>798</locationX>
        <locationY>3329</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Profile_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User</targetReference>
            </connector>
            <label>System Admin Profile Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SFID_Provided</name>
        <label>SFID Provided?</label>
        <locationX>2107</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No SFID</defaultConnectorLabel>
        <rules>
            <name>SFID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__ObjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Account</targetReference>
            </connector>
            <label>SFID</label>
        </rules>
    </decisions>
    <decisions>
        <description>So there&apos;s no path forward if the system admin is not found.</description>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>622</locationX>
        <locationY>3545</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invitee_Last_Name</targetReference>
            </connector>
            <label>System Admin Found</label>
        </rules>
    </decisions>
    <description>Manages event creation, linking new Calendly events to appropriate Salesforce records.</description>
    <environments>Default</environments>
    <interviewLabel>Create Event Template New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calendly : Log Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an event against the newly created record</description>
        <name>Create_Event1</name>
        <label>Create Event</label>
        <locationX>50</locationX>
        <locationY>4637</locationY>
        <inputAssignments>
            <field>Calendly__InviteeUuid__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>$Record.Calendly__Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055i000000Q8dnAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Calendly__EventSubject__c} - Calendly - {!$Record.Calendly__InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <description>Create Event against the person account</description>
        <name>Create_Event2</name>
        <label>Create Event</label>
        <locationX>314</locationX>
        <locationY>4637</locationY>
        <inputAssignments>
            <field>Calendly__InviteeUuid__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>$Record.Calendly__Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055i000000Q8dnAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Calendly__EventSubject__c} - Calendly - {!$Record.Calendly__InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <description>Create Event against the old lead record</description>
        <name>Create_Event3</name>
        <label>Create Event</label>
        <locationX>578</locationX>
        <locationY>4745</locationY>
        <inputAssignments>
            <field>Calendly__InviteeUuid__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>$Record.Calendly__Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055i000000Q8dnAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Calendly__EventSubject__c} - Calendly - {!$Record.Calendly__InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event4</name>
        <label>Create Event</label>
        <locationX>842</locationX>
        <locationY>4637</locationY>
        <inputAssignments>
            <field>Calendly__InviteeUuid__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>$Record.Calendly__Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055i000000Q8dnAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Calendly__EventSubject__c} - Calendly - {!$Record.Calendly__InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a New Lead Record if no record is found</description>
        <name>Create_New_Lead1</name>
        <label>Create New Lead</label>
        <locationX>50</locationX>
        <locationY>4529</locationY>
        <assignRecordIdToReference>WhoRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event1</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_information__c</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Calendly__InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Create a lead record even if the person account is found</description>
        <name>Create_New_Lead2</name>
        <label>Create New Lead</label>
        <locationX>314</locationX>
        <locationY>4529</locationY>
        <connector>
            <targetReference>Create_Event2</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_information__c</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Calendly__InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Create a lead record even if the existing lead record is old</description>
        <name>Create_New_Lead3</name>
        <label>Create New Lead</label>
        <locationX>578</locationX>
        <locationY>4637</locationY>
        <connector>
            <targetReference>Create_Event3</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_information__c</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Calendly__InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Find_Lead</name>
        <label>Find Lead</label>
        <locationX>862</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_New_Lead1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadConvertedAt</assignToReference>
            <field>ConvertedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>createddate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>websource</assignToReference>
            <field>Web_Source__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find PersonAccount</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Find_Lead</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Campaign</name>
        <label>Find Campaign</label>
        <locationX>2075</locationX>
        <locationY>1835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Case</name>
        <label>Find Case</label>
        <locationX>1596</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Contract</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>2273</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contract</name>
        <label>Find Contract</label>
        <locationX>1844</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This lookup with find the converted contact, or set RecordId to null since the converted lead cannot be updated.</description>
        <name>Find_Converted_Contact</name>
        <label>Find Converted Contact</label>
        <locationX>469</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Profile</name>
        <label>Find Profile</label>
        <locationX>798</locationX>
        <locationY>3221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>ProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Publisher</name>
        <label>Find Publisher</label>
        <locationX>578</locationX>
        <locationY>3005</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>622</locationX>
        <locationY>3437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Match_Contact</name>
        <label>Match Contact</label>
        <locationX>1124</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Matched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Match_Lead</name>
        <label>Match Lead</label>
        <locationX>1340</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Matched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadConvertedAt</assignToReference>
            <field>ConvertedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <sourceTemplate>Calendly__CreateEventTemplate</sourceTemplate>
    <start>
        <locationX>2878</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_invitee_created</targetReference>
        </connector>
        <object>Calendly__CalendlyAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createddate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadConvertedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>websource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
