common/force-app/main/default/flows/Create_Transaction_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CollectionIndexAccessor_Action</name>
        <label>CollectionIndexAccessor Action</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <actionName>CollectionIndexAccessor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Current_Description</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>varAccountCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amounts</name>
            <value>
                <elementReference>varAmountCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>index</name>
            <value>
                <elementReference>loopCounter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taxRates</name>
            <value>
                <elementReference>varTaxRateCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CollectionIndexAccessor</nameSegment>
        <outputParameters>
            <assignToReference>currentAccount</assignToReference>
            <name>account</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>currentAmount</assignToReference>
            <name>amount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>currentTaxRate</assignToReference>
            <name>taxRate</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>StringSplitHandle_Action</name>
        <label>StringSplitHandle Action</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>StringSplitHandlerNEW</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Description_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>Get_Transaction_record.XI__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amounts</name>
            <value>
                <elementReference>Get_Transaction_record.XI_Line_item_amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>descriptions</name>
            <value>
                <elementReference>Get_Transaction_record.XI_Line_Items_Description__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taxRates</name>
            <value>
                <elementReference>Get_Transaction_record.XI_Tax_Rate__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StringSplitHandlerNEW</nameSegment>
        <outputParameters>
            <assignToReference>varAccountCollection</assignToReference>
            <name>accounts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAmountCollection</assignToReference>
            <name>amounts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varDescriptionCollection</assignToReference>
            <name>descriptions</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varTaxRateCollection</assignToReference>
            <name>taxRates</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Current_Description</name>
        <label>Assign Current Description</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varCurrentDescriptionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Description_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>loopCounter_1</name>
        <label>loopCounter +1</label>
        <locationX>264</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>loopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Description_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initial_Variables</name>
        <label>Set Initial Variables</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varRemainingDescriptionString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transaction_record.XI_Line_Items_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StringSplitHandle_Action</targetReference>
        </connector>
    </assignments>
    <description>Flow that uses apex to split variables and creates multiple transaction line items related to the triggered transaction record</description>
    <environments>Default</environments>
    <formulas>
        <name>currentAmountconverted</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!currentAmount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Transaction Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction: Create Transaction Line Item</label>
    <loops>
        <name>Loop_Through_Description_Collection</name>
        <label>Loop Through Description Collection</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>varDescriptionCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollectionIndexAccessor_Action</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transaction_Line_Item</name>
        <label>Create_Transaction_Line_Item</label>
        <locationX>264</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>loopCounter_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>currentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Get_Transaction_record.XI_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Get_Transaction_record.XI_Invoice_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Date__c</field>
            <value>
                <elementReference>Get_Transaction_record.XI_Issue_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Item_Description__c</field>
            <value>
                <elementReference>Loop_Through_Description_Collection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_item_amount__c</field>
            <value>
                <elementReference>currentAmountconverted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Rate__c</field>
            <value>
                <elementReference>currentTaxRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Xero_ID__c</field>
            <value>
                <elementReference>$Record.Xero_ID_of_Transaction__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Transaction_record</name>
        <label>Get Transaction record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Initial_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transaction_record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>XI_Line_Items_Description__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentTaxRate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAccountCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAmountCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentDescriptionValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescriptionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRemainingDescriptionString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaxRateCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
