common/force-app/main/default/flows/DIF_Redemption_Transfer_Shares.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>QuantityAssignment</name>
        <label>QuantityAssignment</label>
        <locationX>448</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>TotalProductQuantityCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productObj.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>opp_Product_quantity_loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Redemption</name>
        <choiceText>﻿{!RedemptionConstant}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Redemption</stringValue>
        </value>
    </choices>
    <choices>
        <name>TransferShares</name>
        <choiceText>{!TransferShareConstant}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer Shares</stringValue>
        </value>
    </choices>
    <constants>
        <name>RedemptionConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Redeem Holding</stringValue>
        </value>
    </constants>
    <constants>
        <name>TransferShareConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer Holding</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Action_Decision</name>
        <label>Action Decision</label>
        <locationX>614</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>GetOppDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transfer Shares</defaultConnectorLabel>
        <rules>
            <name>DIF_Redemption_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Redemption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOppObjDetails</targetReference>
            </connector>
            <label>DIF Redemption Action</label>
        </rules>
    </decisions>
    <description>Updated for amount realted changes</description>
    <environments>Default</environments>
    <formulas>
        <name>Balanceamountafterredemption</name>
        <dataType>Currency</dataType>
        <expression>{!getOppObjDetails.Amount} - {!RedemptionAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>DIF Redemption &amp; Transfer Shares {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Redemption &amp; Transfer Shares</label>
    <loops>
        <name>opp_Product_quantity_loop</name>
        <label>opp Product quantity loop</label>
        <locationX>272</locationX>
        <locationY>334</locationY>
        <assignNextValueToReference>productObj</assignNextValueToReference>
        <collectionReference>getOpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QuantityAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Redeem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the related opportunity</description>
        <name>GetOppDetails</name>
        <label>GetOppDetails</label>
        <locationX>823</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Shares_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOppObjDetails</name>
        <label>getOppObjDetails</label>
        <locationX>413</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunityProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get related opportunity product details</description>
        <name>getOpportunityProducts</name>
        <label>getOpportunityProducts</label>
        <locationX>271</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opp_Product_quantity_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Redeem</name>
        <label>Redeem</label>
        <locationX>274</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <extensionName>c:ErrorToastMessage_CMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayErrorMessage</name>
                <value>
                    <elementReference>displayErrorMessageVariable</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Redeem_Screen</name>
            <extensionName>c:redeemProcess</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>OpportunityProduct.Current_Investment_Value__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OriginalInvestedAmount</name>
                <value>
                    <elementReference>OpportunityProduct.TotalPrice</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OriginalInvestedQuantity</name>
                <value>
                    <elementReference>OpportunityProduct.Quantity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quantity</name>
                <value>
                    <elementReference>OpportunityProduct.Original_Invested_Quantity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lineItemquantity</name>
                <value>
                    <elementReference>OpportunityProduct.Original_Invested_Quantity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalPrice</name>
                <value>
                    <elementReference>OpportunityProduct.Original_Sales_Price__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>OpportunityProduct.OpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>oppProdId</name>
                <value>
                    <elementReference>OpportunityProduct.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemUnitPrice</name>
                <value>
                    <elementReference>OpportunityProduct.UnitPrice</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemListPrice</name>
                <value>
                    <elementReference>OpportunityProduct.ListPrice</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RedeemableAmount</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppliedDate</assignToReference>
                <name>AppliedDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Redeemable_Quantity</assignToReference>
                <name>quantity</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redemption_Screen</name>
        <label>Redemption﻿ Screen</label>
        <locationX>564</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayPrompt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Amount : ${!getOppObjDetails.Amount}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ToastErrorMessage</name>
            <extensionName>c:ErrorToastMessage_CMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayErrorMessage</name>
                <value>
                    <elementReference>displayErrorMessageVariable</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RedemptionAmount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>getOppObjDetails.Amount</elementReference>
            </defaultValue>
            <fieldText>Redeemable Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!getOppObjDetails.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!RedemptionAmount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;LEN(TEXT({!RedemptionAmount}))&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;VALUE(RIGHT(TEXT(&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!RedemptionAmount}), &lt;/span&gt;LEN(TEXT({!RedemptionAmount}))-1))&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The redeemable amount exceeds the limit&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!getOppObjDetails.Amount} &gt;= {!RedemptionAmount}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date_of_Application</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultDateOfApplicationVariable</elementReference>
            </defaultValue>
            <fieldText>Date of Application</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter correct date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_of_Application} &gt;= TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Ask Action Name 
DIF Redemption or Transfer Shares</description>
        <name>Select_action</name>
        <label>Select action</label>
        <locationX>623</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Decision</targetReference>
        </connector>
        <fields>
            <name>Action_Name</name>
            <choiceReferences>Redemption</choiceReferences>
            <choiceReferences>TransferShares</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Redemption</defaultSelectedChoiceReference>
            <fieldText>Action Name</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Shares_Screen</name>
        <label>Transfer Shares Screen</label>
        <locationX>945</locationX>
        <locationY>193</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayAmountInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;Unit Certificate Amount&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;:$ {!GetOppDetails.Unit_Certificate_Amount__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectAccountOption</name>
            <extensionName>c:SelectAccountForTransferingAmount_CMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>oppId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OppAmount</name>
                <value>
                    <elementReference>GetOppDetails.Amount</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>709</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AppliedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aprovalprocessstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultDateOfApplicationVariable</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayErrorMessageVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>newProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>productObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Redeemable_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RedeemableAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempProductVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>TotalProductQuantityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
