common/force-app/main/default/flows/EIC_Startup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Does a Membership exist? if yes update and create renewal otherwise create new membership renewal</description>
        <name>Membership_Rec</name>
        <label>Membership Rec</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_an_Associated_EIC_Startup.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_Approved</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MembershipEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!$Record.Date_Validated__c},  24)</expression>
    </formulas>
    <interviewLabel>EIC Startup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EIC - Startup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new Membership record because one doesn&apos;t already exist.</description>
        <name>Create_Membership</name>
        <label>Create Membership</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Membership_Ren</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_from__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>MembershipEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Approved__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122v000001r3KXAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_in_Months__c</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>EIC - Start up</stringValue>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a new Membership renewal record because one doesn&apos;t already exist.</description>
        <name>Create_Membership_Ren</name>
        <label>Create Membership Ren</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_EIC_Property_Checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>$Record.Membership_Validated_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_Start_Renewal_Date__c</field>
            <value>
                <elementReference>Get_an_Associated_EIC_Startup.Eligible_from__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>MembershipEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Approved_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Create_Membership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <object>Membership_Renewal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a membership renewal because the membership already exists</description>
        <name>Create_Renewal_Approved</name>
        <label>Create Renewal_Approved</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Membership_Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>MembershipEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Approved_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_an_Associated_EIC_Startup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <object>Membership_Renewal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>When an application is approved get EIC - Start up Membership records for the related account</description>
        <name>Get_an_Associated_EIC_Startup</name>
        <label>Get an Associated EIC Startup</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EIC - Start up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update related acccount to EIC - Start ups to true</description>
        <name>Update_EIC_Property_Checkbox</name>
        <label>Update EIC Property Checkbox</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EIC_Startup__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updated the end date of the renewal based off the renewal record</description>
        <name>Update_Membership_Rec</name>
        <label>Update Membership Rec</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_EIC_Property_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_an_Associated_EIC_Startup.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>MembershipEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_an_Associated_EIC_Startup</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125i0000008TfiAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Approved</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
