common/force-app/main/default/flows/EOI_Next_Step_update_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This subflow is triggered when the next step field is changed and updates the step history field with the latest changes</description>
    <environments>Default</environments>
    <formulas>
        <name>NextStep_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Triggering_record.Next_Step_Date_Time__c}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>EOI - Next Step update Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EOI - Next Step update Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Triggering_record</name>
        <label>Get Triggering record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Step_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EOI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Step_History</name>
        <label>Update Step History</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Step_History__c</field>
            <value>
                <elementReference>StepHistoryUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>EOI__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>StepHistoryUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em style=&quot;color: rgb(3, 44, 247);&quot;&gt;{!Today}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$User.FirstName} {!$User.LastName}&amp;nbsp;&lt;/strong&gt;- {!New_Step}&lt;/p&gt;&lt;p&gt;To be completed on &lt;strong style=&quot;color: rgb(21, 0, 255);&quot;&gt;{!NextStep_Date_Time}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Old_Steps}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>New_Step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Triggering_record.Next_Step__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Old_Steps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Triggering_record.Step_History__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
