common/force-app/main/default/flows/FlexCardTest2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>FlexCardTest2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlexCardTest2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetInvestments</name>
        <label>GetInvestments</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FlowCards</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FlowCards</name>
        <label>FlowCards</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlexCards</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Investment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:fsc_flexcardFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowAllObjects</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>Investment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;View&quot;,&quot;name&quot;:&quot;View__c&quot;,&quot;type&quot;:&quot;STRING&quot;,&quot;sublabel&quot;:&quot;View__c&quot;,&quot;leftIcon&quot;:&quot;utility:text&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Investment Product Name&quot;,&quot;name&quot;:&quot;Investment_Product_Name__c&quot;,&quot;type&quot;:&quot;STRING&quot;,&quot;sublabel&quot;:&quot;Investment_Product_Name__c&quot;,&quot;leftIcon&quot;:&quot;utility:text&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Investment Amount&quot;,&quot;name&quot;:&quot;Investment_Amount__c&quot;,&quot;type&quot;:&quot;CURRENCY&quot;,&quot;sublabel&quot;:&quot;Investment_Amount__c&quot;,&quot;leftIcon&quot;:&quot;utility:currency&quot;,&quot;hidden&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVariant</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldClass</name>
                <value>
                    <stringValue>slds-text-color_success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>utility:image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionDisplayType</name>
                <value>
                    <stringValue>menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>GetInvestments</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInvestments</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Investment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Investment__c</objectType>
    </variables>
</Flow>
