common/force-app/main/default/flows/Founder_Campaign_Opportunity_Product_Sync_to_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>EOIListingFee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tMo000007lPbdIAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>FriendsNFamily</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tMo000007lOhBIAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>RaisePremiumRetail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tMo000007lOcLIAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>RaisePremiumWholesale</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tMo000007lOajIAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>RaiseProRetail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tMo000007lOSfIAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>RaiseProWholesale</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tMo000007lOFlIAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subscription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tMo000007lO4TIAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Product_is_RT_Founders</name>
        <label>Product is RT Founders?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Founder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Whenever there is a new Opportunity Line Item added to an opportunity and its a founder product, then we relate the line item to the Founder Campaign</description>
    <environments>Default</environments>
    <interviewLabel>Founder Campaign - Opportunity Product Sync to Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Founder Campaign - Opportunity Product Sync to Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_is_RT_Founders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Field</name>
        <label>Update Founder Campaign Field</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Founder_Campaign__c</field>
            <value>
                <elementReference>$Record.Opportunity.Founder_Campaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
