common/force-app/main/default/flows/Founder_Leads_Mass_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Assign_Founders_EOI</name>
        <label>Assign Founders EOI</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_Founder_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_EOI_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Founder_Leads.Founder_EOI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FOunder_EOI</targetReference>
            </connector>
            <label>Has EOI assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TwoWeeks</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 14</expression>
    </formulas>
    <interviewLabel>Founder Leads: Mass Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Founder Leads: Mass Update</label>
    <loops>
        <name>Loop_Founder_Leads</name>
        <label>Loop Founder Leads</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Founder_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Founders_EOI</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Founder_Leads</name>
        <label>Get Founder Leads</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Founder_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Mo0000038ULlIAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_EOI__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Founder_EOI__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>8.0</numberValue>
        </limit>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_FOunder_EOI</name>
        <label>Assign FOunder EOI</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_Founder_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Founder_Leads.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_EOI__c</field>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Founder_Leads</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentEOI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EOI__c</objectType>
    </variables>
</Flow>
