common/force-app/main/default/flows/JBSystemFlow_Comment_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjba1c79feed52b42db2fc545413acbcb3_FireJBTrigger</name>
        <label>SalesforceObjba1c79feed52b42db2fc545413acbcb3_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;CreatedById&quot;,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Comment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjba1c79feed52b42db2fc545413acbcb3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Comment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Comment__c:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Raise__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Raise__r&quot;,&quot;dePrefix&quot;:&quot;Comment__c:Raise__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Form_Company_Name__c&quot;,&quot;Published_Raise_URL__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_FireJBTrigger</name>
        <label>SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;CreatedById&quot;,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Comment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Comment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Commented_By_Name_Investor__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Comment__c:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Raise__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Raise__r&quot;,&quot;dePrefix&quot;:&quot;Comment__c:Raise__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Form_Company_Name__c&quot;,&quot;Published_Raise_URL__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjba1c79feed52b42db2fc545413acbcb3</name>
        <label>JB_Decision_Null_Check_SalesforceObjba1c79feed52b42db2fc545413acbcb3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjba1c79feed52b42db2fc545413acbcb3_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</targetReference>
            </connector>
            <label>JB_SalesforceObjba1c79feed52b42db2fc545413acbcb3_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjba1c79feed52b42db2fc545413acbcb3_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjba1c79feed52b42db2fc545413acbcb3_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjba1c79feed52b42db2fc545413acbcb3_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</name>
        <label>JB_Decision_Null_Check_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjba1c79feed52b42db2fc545413acbcb3_Decision</name>
        <label>JB_SalesforceObjba1c79feed52b42db2fc545413acbcb3_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjba1c79feed52b42db2fc545413acbcb3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjba1c79feed52b42db2fc545413acbcb3_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjba1c79feed52b42db2fc545413acbcb3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Decision</name>
        <label>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Response__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_State_change_Decision</name>
        <label>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Response__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjdcb2b5feac4cd91ee91dc3281fa0580e</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Comment_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjba1c79feed52b42db2fc545413acbcb3</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Comment__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Comment__c</objectType>
    </variables>
</Flow>
