common/force-app/main/default/flows/JBSystemFlow_EOI_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_FireJBTrigger</name>
        <label>SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Related_Person_Account__c&quot;,&quot;relationshipName&quot;:&quot;Related_Person_Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>EOI__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;EOI__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;EOI_Title__c&quot;,&quot;Person_Account_Email__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Person_Account__r&quot;,&quot;dePrefix&quot;:&quot;EOI__c:Related_Person_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9eb31792fc47232b0d835cd19f630e3d_FireJBTrigger</name>
        <label>SalesforceObj9eb31792fc47232b0d835cd19f630e3d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Related_Person_Account__c&quot;,
  &quot;relationshipName&quot;: &quot;Related_Person_Account__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Account&quot;,
  &quot;fieldName&quot;: &quot;PersonContactId&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>EOI__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9eb31792fc47232b0d835cd19f630e3d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;EOI__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;EOI_Title__c&quot;,&quot;Published_EOI_URL__c&quot;,&quot;Person_Account_Email__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Person_Account__r&quot;,&quot;dePrefix&quot;:&quot;EOI__c:Related_Person_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_FireJBTrigger</name>
        <label>SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Related_Person_Account__c&quot;,&quot;relationshipName&quot;:&quot;Related_Person_Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>EOI__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;EOI__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;EOI_Title__c&quot;,&quot;EOI_Published_Date__c&quot;,&quot;Person_Account_Email__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Person_Account__r&quot;,&quot;dePrefix&quot;:&quot;EOI__c:Related_Person_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</name>
        <label>JB_Decision_Null_Check_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Related_Person_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Related_Person_Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</targetReference>
            </connector>
            <label>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</name>
        <label>JB_Decision_Null_Check_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Related_Person_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Related_Person_Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25</name>
        <label>JB_Decision_Null_Check_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Related_Person_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Related_Person_Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</targetReference>
            </connector>
            <label>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Decision</name>
        <label>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Related_Person_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EOI_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted to be Published</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_State_change_Decision</name>
        <label>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Related_Person_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.EOI_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted to be Published</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Decision</name>
        <label>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9eb31792fc47232b0d835cd19f630e3d</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Related_Person_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Published_EOI_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9eb31792fc47232b0d835cd19f630e3d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9eb31792fc47232b0d835cd19f630e3d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_State_change_Decision</name>
        <label>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Related_Person_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Published_EOI_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9eb31792fc47232b0d835cd19f630e3d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj9eb31792fc47232b0d835cd19f630e3d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Decision</name>
        <label>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Related_Person_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EOI_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_State_change_Decision</name>
        <label>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj51e8cf99ded7e9b75f5723b5c7a8474d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Related_Person_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.EOI_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_EOI_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjf5e63f2032bf4dfdc3ba7f233db97e25</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EOI__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EOI__c</objectType>
    </variables>
</Flow>
