common/force-app/main/default/flows/JBSystemFlow_Payment_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_FireJBTrigger</name>
        <label>SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;CreatedBy.Contact&quot;,
  &quot;relationshipName&quot;: &quot;CreatedBy.Contact&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Payment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy.Contact&quot;,&quot;dePrefix&quot;:&quot;Payment__c:CreatedBy:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Payment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Product__c&quot;,&quot;Payment_Type__c&quot;,&quot;Payment_Amount__c&quot;,&quot;Payment_Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Account__r&quot;,&quot;dePrefix&quot;:&quot;Payment__c:Related_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;BPAY_CRN__c&quot;,&quot;BPAY_Biller_Code__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Investment__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Investment__r&quot;,&quot;dePrefix&quot;:&quot;Payment__c:Related_Investment__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Investment_Opp_ID__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj43a1f28fd7610782b27f057b1d7b0751_FireJBTrigger</name>
        <label>SalesforceObj43a1f28fd7610782b27f057b1d7b0751_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;CreatedBy.Contact&quot;,&quot;relationshipName&quot;:&quot;CreatedBy.Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Payment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj43a1f28fd7610782b27f057b1d7b0751</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy.Contact&quot;,&quot;dePrefix&quot;:&quot;Payment__c:CreatedBy:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Payment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Account__r&quot;,&quot;dePrefix&quot;:&quot;Payment__c:Related_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_FireJBTrigger</name>
        <label>SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;CreatedBy.Contact&quot;,&quot;relationshipName&quot;:&quot;CreatedBy.Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Payment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy.Contact&quot;,&quot;dePrefix&quot;:&quot;Payment__c:CreatedBy:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Payment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Product__c&quot;,&quot;Payment_Type__c&quot;,&quot;Payment_Amount__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Account__r&quot;,&quot;dePrefix&quot;:&quot;Payment__c:Related_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;BPAY_CRN__c&quot;,&quot;BPAY_Biller_Code__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Investment__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Investment__r&quot;,&quot;dePrefix&quot;:&quot;Payment__c:Related_Investment__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Investment_Opp_ID__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_FireJBTrigger</name>
        <label>SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;CreatedBy.Contact&quot;,&quot;relationshipName&quot;:&quot;CreatedBy.Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Payment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy.Contact&quot;,&quot;dePrefix&quot;:&quot;Payment__c:CreatedBy:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Payment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Account__r&quot;,&quot;dePrefix&quot;:&quot;Payment__c:Related_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</name>
        <label>JB_Decision_Null_Check_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedBy.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</name>
        <label>JB_Decision_Null_Check_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedBy.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</targetReference>
            </connector>
            <label>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b</name>
        <label>JB_Decision_Null_Check_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedBy.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</targetReference>
            </connector>
            <label>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</name>
        <label>JB_Decision_Null_Check_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedBy.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</targetReference>
            </connector>
            <label>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Decision</name>
        <label>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</name>
            <conditionLogic>( (1 OR 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PayID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_State_change_Decision</name>
        <label>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</name>
            <conditionLogic>NOT  ( (1 OR 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PayID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Decision</name>
        <label>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj43a1f28fd7610782b27f057b1d7b0751</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj43a1f28fd7610782b27f057b1d7b0751_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj43a1f28fd7610782b27f057b1d7b0751</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_State_change_Decision</name>
        <label>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1b0a27ef9bd5b78b242055bfcd8c6487</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj43a1f28fd7610782b27f057b1d7b0751_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Decision</name>
        <label>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b</name>
            <conditionLogic>( (1 OR 2)  OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_State_change_Decision</name>
        <label>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b</name>
            <conditionLogic>NOT  ( (1 OR 2)  OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Decision</name>
        <label>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_State_change_Decision</name>
        <label>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj43a1f28fd7610782b27f057b1d7b0751</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjb2a9bfde4833dd2c64c5abc5ade99b31</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Payment_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj9c5ec979b95c0d672a3ed24e75ad745b</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
</Flow>
