common/force-app/main/default/flows/JBSystemFlow_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj0153325e58329cac4886a55b7c89fb05_FireJBTrigger</name>
        <label>SalesforceObj0153325e58329cac4886a55b7c89fb05_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj0153325e58329cac4886a55b7c89fb05</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_FireJBTrigger</name>
        <label>SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb640847289ac8bf97e9e86d6cef510fc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb640847289ac8bf97e9e86d6cef510fc</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj56d0f108f485bbf64737809b90424929_FireJBTrigger</name>
        <label>SalesforceObj56d0f108f485bbf64737809b90424929_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjac9f955592078039f16493429b9323f4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjac9f955592078039f16493429b9323f4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj56d0f108f485bbf64737809b90424929</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjac9f955592078039f16493429b9323f4_FireJBTrigger</name>
        <label>SalesforceObjac9f955592078039f16493429b9323f4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjac9f955592078039f16493429b9323f4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Comments__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjb640847289ac8bf97e9e86d6cef510fc_FireJBTrigger</name>
        <label>SalesforceObjb640847289ac8bf97e9e86d6cef510fc_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf7d99485a5b213e15f24f100e6f1e928</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf7d99485a5b213e15f24f100e6f1e928</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb640847289ac8bf97e9e86d6cef510fc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjd8ec7b3f7d086cfc60320ee89576b997_FireJBTrigger</name>
        <label>SalesforceObjd8ec7b3f7d086cfc60320ee89576b997_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj56d0f108f485bbf64737809b90424929</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj56d0f108f485bbf64737809b90424929</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd8ec7b3f7d086cfc60320ee89576b997</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Web_Source__c&quot;,&quot;Related_EOI__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjf7d99485a5b213e15f24f100e6f1e928_FireJBTrigger</name>
        <label>SalesforceObjf7d99485a5b213e15f24f100e6f1e928_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0153325e58329cac4886a55b7c89fb05</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0153325e58329cac4886a55b7c89fb05</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjf7d99485a5b213e15f24f100e6f1e928</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514002947</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj0153325e58329cac4886a55b7c89fb05</name>
        <label>JB_Decision_Null_Check_SalesforceObj0153325e58329cac4886a55b7c89fb05</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</name>
        <label>JB_Decision_Null_Check_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb640847289ac8bf97e9e86d6cef510fc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj56d0f108f485bbf64737809b90424929</name>
        <label>JB_Decision_Null_Check_SalesforceObj56d0f108f485bbf64737809b90424929</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjac9f955592078039f16493429b9323f4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj56d0f108f485bbf64737809b90424929_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj56d0f108f485bbf64737809b90424929_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj56d0f108f485bbf64737809b90424929_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjac9f955592078039f16493429b9323f4</name>
        <label>JB_Decision_Null_Check_SalesforceObjac9f955592078039f16493429b9323f4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjac9f955592078039f16493429b9323f4_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjac9f955592078039f16493429b9323f4_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjac9f955592078039f16493429b9323f4_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb640847289ac8bf97e9e86d6cef510fc</name>
        <label>JB_Decision_Null_Check_SalesforceObjb640847289ac8bf97e9e86d6cef510fc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf7d99485a5b213e15f24f100e6f1e928</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd8ec7b3f7d086cfc60320ee89576b997</name>
        <label>JB_Decision_Null_Check_SalesforceObjd8ec7b3f7d086cfc60320ee89576b997</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj56d0f108f485bbf64737809b90424929</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd8ec7b3f7d086cfc60320ee89576b997_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd8ec7b3f7d086cfc60320ee89576b997_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd8ec7b3f7d086cfc60320ee89576b997_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjf7d99485a5b213e15f24f100e6f1e928</name>
        <label>JB_Decision_Null_Check_SalesforceObjf7d99485a5b213e15f24f100e6f1e928</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0153325e58329cac4886a55b7c89fb05</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_Decision</name>
        <label>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj0153325e58329cac4886a55b7c89fb05</name>
            <conditionLogic>( ( (1 OR 2)  OR 3)  OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>property-page</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>property</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moggill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MNG-A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj0153325e58329cac4886a55b7c89fb05_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj0153325e58329cac4886a55b7c89fb05</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_State_change_Decision</name>
        <label>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj0153325e58329cac4886a55b7c89fb05</name>
            <conditionLogic>NOT  ( ( (1 OR 2)  OR 3)  OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>property-page</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>property</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moggill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MNG-A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0153325e58329cac4886a55b7c89fb05_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj0153325e58329cac4886a55b7c89fb05</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_Decision</name>
        <label>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb640847289ac8bf97e9e86d6cef510fc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</name>
            <conditionLogic>( (1 AND 2)  OR  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parqway Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCPP-PAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_State_change_Decision</name>
        <label>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb640847289ac8bf97e9e86d6cef510fc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</name>
            <conditionLogic>NOT  ( (1 AND 2)  OR  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parqway Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCPP-PAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj56d0f108f485bbf64737809b90424929_Decision</name>
        <label>JB_SalesforceObj56d0f108f485bbf64737809b90424929_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjac9f955592078039f16493429b9323f4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj56d0f108f485bbf64737809b90424929</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EOI: PERKii Pty Ltd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj56d0f108f485bbf64737809b90424929_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj56d0f108f485bbf64737809b90424929</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjac9f955592078039f16493429b9323f4_Decision</name>
        <label>JB_SalesforceObjac9f955592078039f16493429b9323f4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj38c5e4fd622e50e8e49dc713d77492ae</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjac9f955592078039f16493429b9323f4</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SXSW Sydney 2024</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjac9f955592078039f16493429b9323f4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjac9f955592078039f16493429b9323f4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_Decision</name>
        <label>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf7d99485a5b213e15f24f100e6f1e928</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb640847289ac8bf97e9e86d6cef510fc</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FoodTech-Whitepaper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb640847289ac8bf97e9e86d6cef510fc_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb640847289ac8bf97e9e86d6cef510fc</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_State_change_Decision</name>
        <label>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf7d99485a5b213e15f24f100e6f1e928</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjb640847289ac8bf97e9e86d6cef510fc</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FoodTech-Whitepaper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb640847289ac8bf97e9e86d6cef510fc_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjb640847289ac8bf97e9e86d6cef510fc</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd8ec7b3f7d086cfc60320ee89576b997_Decision</name>
        <label>JB_SalesforceObjd8ec7b3f7d086cfc60320ee89576b997_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj56d0f108f485bbf64737809b90424929</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd8ec7b3f7d086cfc60320ee89576b997</name>
            <conditionLogic>( ( (1 OR 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Related_EOI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>-eoi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0052v00000glM8wAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0055i000005oY0ZAAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd8ec7b3f7d086cfc60320ee89576b997_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd8ec7b3f7d086cfc60320ee89576b997</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_Decision</name>
        <label>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0153325e58329cac4886a55b7c89fb05</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjf7d99485a5b213e15f24f100e6f1e928</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Combined Ventures Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ventures-page</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjf7d99485a5b213e15f24f100e6f1e928_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjf7d99485a5b213e15f24f100e6f1e928</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_State_change_Decision</name>
        <label>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0153325e58329cac4886a55b7c89fb05</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjf7d99485a5b213e15f24f100e6f1e928</name>
            <conditionLogic>NOT  (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Combined Ventures Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Web_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ventures-page</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf7d99485a5b213e15f24f100e6f1e928_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjf7d99485a5b213e15f24f100e6f1e928</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjd8ec7b3f7d086cfc60320ee89576b997</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
