common/force-app/main/default/flows/Lead_Leads_created_with_wholesale_status_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CRC_Team_Wholesale_Lead_Notification</name>
        <label>CRC Team Wholesale Lead Notification</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Lead.Alert_for_new_lead_with_wholesale_status_CRC_Tem</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Triggering_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Alert_for_new_lead_with_wholesale_status_CRC_Tem</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This sub flow will notify the CRC team when the wholesale leads are created when executed from lead master flow</description>
    <environments>Default</environments>
    <interviewLabel>Lead : Leads created with wholesale status Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead : Leads created with wholesale status Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_error_message</name>
        <label>Log error message</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Notify CRC team about wholesale leads</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Lead : Leads created with wholesale status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Triggering_Record</name>
        <label>Get Triggering Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRC_Team_Wholesale_Lead_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
