common/force-app/main/default/flows/Lead_Founder_Update_Related_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>For Mass Conversion</description>
    <environments>Default</environments>
    <interviewLabel>Lead Founder - Update Related Person Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Founder - Update Related Person Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Match_Account</name>
        <label>Match Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Related_matching_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Matching_Account__c</field>
            <value>
                <elementReference>$Record.Related_EOI__r.Related_Person_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_matching_Account</name>
        <label>Update Related matching Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Related_EOI__r.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Matching_Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Matching_Account__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Matching_Account__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matching_Account__c</field>
            <value>
                <elementReference>$Record.Related_EOI__r.Related_Person_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Matching_Account__r.Mobile_No_spaces__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052v00000glEDkAAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Match_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Background_information__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Mass Conversion</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_EOI__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Mo0000038ULlIAM</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
