common/force-app/main/default/flows/Membership_Update_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Migrated from the Membership Update process using Approved criteria. This flow will update a related membership to the renewal with the new approved start date.</description>
    <environments>Default</environments>
    <interviewLabel>Membership Renewal: Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Renewal: Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Update Membership _Start Null</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Approved__c</field>
            <value>
                <elementReference>$Record.Membership_Approved_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_in_Months__c</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Membership__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A2</name>
        <label>Update Membership Start Not NULL</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Approved__c</field>
            <value>
                <elementReference>$Record.Membership_Approved_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Declined__c</field>
            <value>
                <elementReference>$Record.Membership_Declined_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_in_Months__c</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Membership__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.Membership_Approved_Date__c} = Today()</filterFormula>
        <object>Membership_Renewal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
