common/force-app/main/default/flows/Merge_Duplicate_opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_opps</name>
        <label>Add opps</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>OpportunityCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicates</name>
        <label>Assign Duplicates</label>
        <locationX>402</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_selected_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_lost_fields_to_non_master</name>
        <label>Assign lost fields to non master</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>SingleOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunity.Loss_Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Merged with existing Opp</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_selected_items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunity.Merged_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mastervar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_master</name>
        <label>Assign master</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Mastervar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Similaropps.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Fields_to_Keep</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Collection_count</name>
        <label>Collection count</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>No_duplicates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Records</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_master</name>
        <label>is master?</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Loop_selected_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_selected_items.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mastervar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_selected_items.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Mastervar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lost_fields_to_non_master</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>BeforeEmailmessageloop - singleduplicateopps</description>
    <dynamicChoiceSets>
        <name>Choseamount</name>
        <collectionReference>Similaropps.selectedRows</collectionReference>
        <dataType>Currency</dataType>
        <displayField>Amount</displayField>
        <object>Opportunity</object>
        <valueField>Amount</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choseclosedate</name>
        <collectionReference>Similaropps.selectedRows</collectionReference>
        <dataType>Date</dataType>
        <displayField>CloseDate</displayField>
        <object>Opportunity</object>
        <valueField>CloseDate</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Chosename</name>
        <collectionReference>Similaropps.selectedRows</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chosestep</name>
        <collectionReference>duplicates.selectedRows</collectionReference>
        <dataType>String</dataType>
        <displayField>NextStep</displayField>
        <object>Opportunity</object>
        <valueField>NextStep</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cmassigned</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CM</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CRCAssigned</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRC</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Matchingopps</name>
        <collectionReference>Get_Similar_Opportunities</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Newamount</name>
        <collectionReference>duplicates.selectedRows</collectionReference>
        <dataType>Currency</dataType>
        <displayField>Amount</displayField>
        <object>Opportunity</object>
        <valueField>Amount</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewClosedate</name>
        <collectionReference>duplicates.selectedRows</collectionReference>
        <dataType>Date</dataType>
        <displayField>CloseDate</displayField>
        <object>Opportunity</object>
        <valueField>CloseDate</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Newname</name>
        <collectionReference>duplicates.selectedRows</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stagenew</name>
        <collectionReference>duplicates.selectedRows</collectionReference>
        <dataType>String</dataType>
        <displayField>StageName</displayField>
        <object>Opportunity</object>
        <valueField>TempStage__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VCFee</name>
        <collectionReference>duplicates.selectedRows</collectionReference>
        <dataType>Currency</dataType>
        <displayField>VentureCrowd_Fee__c</displayField>
        <object>Opportunity</object>
        <valueField>VentureCrowd_Fee__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Merge Duplicate opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Merge Duplicate opps</label>
    <loops>
        <name>Count_Opps</name>
        <label>Count Opps</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Similar_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_selected_items</name>
        <label>Loop selected items</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <collectionReference>duplicates.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_master</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Move_Non_master_to_lost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CM</name>
        <label>Get CM</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CRC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CM_Assigned</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CRC</name>
        <label>Get CRC</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_master_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRC_Assigned</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_Opp</name>
        <label>Get current Opp</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Similar_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Similar_Opportunities</name>
        <label>Get Similar Opportunities</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_Opp.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_Opp.CM_Assigned__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Moving non master to lost with lost reason &quot;merged&quot; instead of deleting.</description>
        <name>Move_Non_master_to_lost</name>
        <label>Move Non master to lost</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputReference>UpdatedOpportunities</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_master_record</name>
        <label>Update master record</label>
        <locationX>138</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Loop_selected_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mastervar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CM_Assigned__c</field>
            <value>
                <elementReference>Get_CM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRC_Assigned__c</field>
            <value>
                <elementReference>Get_CRC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merged_Opp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merged_Opportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Duplicate_Records</name>
        <label>Duplicate Records</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pick_Master</targetReference>
        </connector>
        <fields>
            <name>dupes</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif;&quot;&gt;&lt;u&gt;Duplicate Opportunities will be displayed below if any.&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif;&quot;&gt;&lt;u&gt;Please select all records you wish to DeDupe.&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>duplicates</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Similar_Opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4450&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-4dd8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-2fec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-b058&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-3ff5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue with Selected</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finalmessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Thank you, the master Record has been updated and the duplicated record has been moved to lost.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://venturecrowd.lightning.force.com/lightning/r/Opportunity/{!Similaropps.firstSelectedRow.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;&lt;u&gt;Please click Here to continue to the updated Record.&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_duplicates</name>
        <label>No duplicates</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nodupes</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;No Duplicates were found.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;(Duplicated are found based on Opportunity name)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pick_Master</name>
        <label>Pick Master</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_master</targetReference>
        </connector>
        <fields>
            <name>DuplicateOpps</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Now select the &lt;/u&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;latest record&lt;/u&gt;&lt;/strong&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt; you wish to keep as the master&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;u&gt;(Typically the record at Application Received)&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Similaropps</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>duplicates.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b935&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-9320&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-bfc3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-3b9d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-a4fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm Master</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Fields_to_Keep</name>
        <label>Select Fields to Keep</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_selected_items</targetReference>
        </connector>
        <fields>
            <name>Selectfieldstokeep</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please select any values you would like to keep.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <choiceReferences>Newname</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Similaropps.firstSelectedRow.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date1</name>
            <choiceReferences>NewClosedate</choiceReferences>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Step</name>
            <choiceReferences>chosestep</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CM_Assigned</name>
            <choiceReferences>cmassigned</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CM Assigned</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CRC_Assigned</name>
            <choiceReferences>CRCAssigned</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CRC Assigned</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish and Merge</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Redirect</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;a href=&quot;/lightning/r/Opportunity/&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Similaropps.firstSelectedRow.Id}&lt;/span&gt;/view&quot; target=&quot;_blank&quot;&amp;gt;Please click Here to continue to the updated Record.&amp;lt;/a&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Duplicatesvar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emailmessagesingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>LatestOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Mastervar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewDuplicatevar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Stagevar</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
