common/force-app/main/default/flows/Non_Test_Raise_Rec.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Non_Test_Raise_Record_Created</name>
        <label>Non Test Raise Record Created</label>
        <locationX>264</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>manuel.tirado@venturecrowd.com.au, diego@venturecrowd.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Non Test Raise Record Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NonTestRaiseRecordEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Test</name>
        <label>Is Test?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Non_Test_Raise_Record_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_Is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TEST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TEST</stringValue>
                </rightValue>
            </conditions>
            <label>It Is</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Non Test Raise Rec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Non Test Raise Rec</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Test</targetReference>
        </connector>
        <object>Raise__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailReceivers</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;manuel.tirado@venturecrowd.com.au&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NonTestRaiseRecordEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following NON TEST RAISE RECORD was created:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Created by Account:&lt;/strong&gt; {!$Record.Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://venturecrowd.lightning.force.com/lightning/r/Raise__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;LINK TO RECORD&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
