common/force-app/main/default/flows/ONCE_DEPLOYED_SYNC_OPP_DATA_TO_INVESTMENT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Sync Opp fields to Investment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(ONCE DEPLOYED) SYNC OPP DATA TO INVESTMENT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Investment</name>
        <label>Get Investment</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Investment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Investment</name>
        <label>Update Investment</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_of_Refund__c</field>
            <value>
                <elementReference>$Record.Amount_of_Refund__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Refunded__c</field>
            <value>
                <elementReference>$Record.Customer_Refunded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Banked__c</field>
            <value>
                <elementReference>$Record.Date_Banked__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Refund__c</field>
            <value>
                <elementReference>$Record.Date_of_Refund__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defined_Term__c</field>
            <value>
                <elementReference>$Record.Defined_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EIC_Property__c</field>
            <value>
                <elementReference>$Record.EIC_Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EIC_Startup__c</field>
            <value>
                <elementReference>$Record.EIC_STartup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_Deposited_Confirmation_from_Client__c</field>
            <value>
                <elementReference>$Record.Funds_Deposited_Confirmation_from_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_Received_in_Bank__c</field>
            <value>
                <elementReference>$Record.Funds_received_in_Bank__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Term_Expiry__c</field>
            <value>
                <elementReference>$Record.Initial_Term_Expiry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maturation_date_update_email__c</field>
            <value>
                <elementReference>$Record.Maturation_date_update_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Redemption_Opportunity__c</field>
            <value>
                <elementReference>$Record.Old_Redemption_Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Unit_Certificate_Amount__c</field>
            <value>
                <elementReference>$Record.Unit_Certificate_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PA_CRN__c</field>
            <value>
                <elementReference>$Record.PA_CRN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_ID_Checked__c</field>
            <value>
                <elementReference>$Record.Primary_Contact_ID_Checked__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Issued__c</field>
            <value>
                <elementReference>$Record.Receipt_Issued__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redemption_Request_Date__c</field>
            <value>
                <elementReference>$Record.Redemption_Request_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redemption_Request__c</field>
            <value>
                <elementReference>$Record.Redemption_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redemption_payment_date__c</field>
            <value>
                <elementReference>$Record.Redemption_payment_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Requested__c</field>
            <value>
                <elementReference>$Record.Refund_Requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rollover_Investment__c</field>
            <value>
                <elementReference>$Record.Rollover_Investment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_App_Receipt_Email__c</field>
            <value>
                <elementReference>$Record.Send_App_Receipt_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Unit_Cert_Email__c</field>
            <value>
                <elementReference>$Record.Send_Unit_Cert_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wholesale__c</field>
            <value>
                <elementReference>$Record.Wholesale__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Investment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Redemption_Request__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Redemption_Request_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Refund_Requested__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Refunded__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount_of_Refund__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Refund__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Defined_Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Term_Expiry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Maturation_date_update_email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact_ID_Checked__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EIC_STartup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Wholesale__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PA_CRN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EIC_Property__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rollover_Investment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Old_Redemption_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Funds_Deposited_Confirmation_from_Client__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Funds_received_in_Bank__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Certificate_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_Banked__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Receipt_Issued__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Send_App_Receipt_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Send_Unit_Cert_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-05-30</startDate>
            <startTime>15:19:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
