common/force-app/main/default/flows/Opportunity_VC_Property_Product_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Property_Opportunity_Owner</name>
        <label>Assign Property Opportunity Owner</label>
        <locationX>506</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CM_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Property_Opportunity_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VC_Opportunity_Owner</name>
        <label>Assign VC Opportunity Owner</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CM_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VC_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision element evaluates whether the related account has activity within the past 90 days and ensures the &quot;next step&quot; field on the opportunity is populated</description>
        <name>Check_Account_Activity_and_Next_Step</name>
        <label>Check Account Activity and Next Step</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_the_Opportunity_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.LastActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Date_90_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NextStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CM_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Has Activity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Opportunity_Record_Type</name>
        <label>Check the Opportunity Record Type</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Property_Opportunity_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Property Product</defaultConnectorLabel>
        <rules>
            <name>VC_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Associated_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VC Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VC_Opportunity_Owner</targetReference>
            </connector>
            <label>VC Product</label>
        </rules>
    </decisions>
    <description>This flow will update the CM Assigned and Opportunity owner fields based on round robin logic</description>
    <environments>Default</environments>
    <formulas>
        <name>Date_90_Days_Ago</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <formulas>
        <name>OpportunityOwner_Assignment_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
    {!$Record.Associated_Product_Type__c} = &quot;VC Product&quot;,
    IF(
        MOD(VALUE({!$Record.Opportunity_auto_number__c}), 100) &lt; 60, 
        &quot;0055i00000CW2nXAAT&quot;, 
        &quot;0052v00000gkul4AAA&quot;    
    ), 
    IF(
       {!$Record.Associated_Product_Type__c} = &quot;Property Product&quot;,
        IF(
            MOD(VALUE({!$Record.Opportunity_auto_number__c}), 100) &lt; 60, 
            &quot;0055i00000C43RYAAZ&quot;,  
            &quot;0052v00000gkul4AAA&quot;    
        ), 
        null  
    )
)</expression>
    </formulas>
    <interviewLabel>Opportunity : VC/Property Product Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : VC/Property Product Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Property_Opportunity_owner</name>
        <label>Update Property Opportunity owner</label>
        <locationX>506</locationX>
        <locationY>647</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CM_Assigned__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>CM_Assigned__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CM_Assigned__c</field>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VC_Opportunity_Owner</name>
        <label>Update VC Opportunity Owner</label>
        <locationX>242</locationX>
        <locationY>647</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CM_Assigned__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>CM_Assigned__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CM_Assigned__c</field>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OpportunityOwner_Assignment_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Activity_and_Next_Step</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Associated_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VC Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Associated_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122v000002VOzfAAG</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
