common/force-app/main/default/flows/Opportunity_Wholesale_Verified_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Community_User</name>
        <label>Community User?</label>
        <locationX>524</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Is_it_Retail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Community</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <label>Yes it is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Retail</name>
        <label>Is it Retail?</label>
        <locationX>1262</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Membership_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Is_it_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Product.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Active_Wholesale_Membership</targetReference>
            </connector>
            <label>It is Retail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_or_Membership_Not_Wholesale</name>
        <label>Is Product or Membership Not Wholesale?</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Active_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>one_of_them</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Input_Product.Family</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Active_Membership_in_Opp</targetReference>
            </connector>
            <label>Its Wholesale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Membership_Exists</name>
        <label>Membership &amp; Product Exist</label>
        <locationX>2475</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Only_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check for variations</defaultConnectorLabel>
        <rules>
            <name>Product_Membership_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Status_Check</targetReference>
            </connector>
            <label>Product &amp; Membership Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Membership_Status_Check</name>
        <label>Membership Status Check</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Product_or_Membership_Not_Wholesale</targetReference>
            </connector>
            <label>Membership Active</label>
        </rules>
        <rules>
            <name>Membership_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships.Membership_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_Membership</targetReference>
            </connector>
            <label>Membership Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Membership_or_Product</name>
        <label>No Membership or Product</label>
        <locationX>5066</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Membership_nor_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_No_Membership</targetReference>
            </connector>
            <label>No Membership nor Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_Membership</name>
        <label>Only Membership - No Product</label>
        <locationX>4472</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>No_Membership_or_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Only_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2nd_Membership_Check</targetReference>
            </connector>
            <label>Yes, Member w/o Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_Product</name>
        <label>Only has Product - No Membership</label>
        <locationX>3449</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Only_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Only_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Type</targetReference>
            </connector>
            <label>Yes, Only has Product - No Memebrship</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_or_Membership_not_Wholesale</name>
        <label>Product or Membership not Wholesale</label>
        <locationX>3218</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Member_Active_No_Product_No_Wholesale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Product_or_Membership_not_Wholesale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Input_Product.Family</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MembershipANDProductExist</targetReference>
            </connector>
            <label>Membership is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2nd_Membership_Check</name>
        <label>2nd Membership Check</label>
        <locationX>3878</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_or_Membership_not_Wholesale</targetReference>
            </connector>
            <label>Membership is Active</label>
        </rules>
        <rules>
            <name>Membership_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships.Membership_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Inactive_no_Prod</targetReference>
            </connector>
            <label>Membership is Inactive</label>
        </rules>
    </decisions>
    <description>Verifies if the primary contact associated to an opportunity has an active membership for wholesale deals (Updated)</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Wholesale Verified Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Wholesale Verified Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_message</name>
        <label>Log message</label>
        <locationX>5858</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Opportunity: Wholesale Verified Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Memberships</name>
        <label>Get Memberships</label>
        <locationX>524</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Primary_Contact__r.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wholesale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EIC - Property</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EIC - Start up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>524</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Community_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.LastModifiedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Active_Membership</name>
        <label>Active Not Wholesale Membership</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Get_Memberships.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_Memberships.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Input_Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Active_Membership_in_Opp</name>
        <label>Active Wholesale Membership</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Get_Memberships.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_Memberships.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Input_Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Active_Wholesale_Membership</name>
        <label>Update &amp; Bypass</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Input_Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Inactive_Membership</name>
        <label>Inactive Membership In Opp</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Get_Memberships.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_Memberships.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Input_Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Member_Active_No_Product_No_Wholesale</name>
        <label>Member Active No Product/No Wholesale</label>
        <locationX>3482</locationX>
        <locationY>1106</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Get_Memberships.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_Memberships.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>No Product Associated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Membership_Inactive_no_Prod</name>
        <label>Membership Inactive no Prod</label>
        <locationX>4010</locationX>
        <locationY>998</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Get_Memberships.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_Memberships.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>No Product Associated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>MembershipANDProductExist</name>
        <label>Membership Active No Prod</label>
        <locationX>2954</locationX>
        <locationY>1106</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Get_Memberships.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_Memberships.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>No Product Associated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_No_Membership</name>
        <label>Update No Membership</label>
        <locationX>4802</locationX>
        <locationY>998</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>No Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <stringValue>No Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>No Product Associated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Type</name>
        <label>Update Product Type</label>
        <locationX>2426</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>No Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <stringValue>No Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Input_Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Memberships</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>WholesaleMembershipType</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;✅ {!Get_Memberships.Type__c} Membership&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Input_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Input_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
