common/force-app/main/default/flows/Opportunity_Next_Step_Update_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Next Step Update of Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>NextStep_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>{!Input_Opportunity.Next_Action_Date_Time__c}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Opportunity - Next Step Update Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Next Step Update Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Message</name>
        <label>Log Message</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Opportunity - Next Step Update Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Step_History</name>
        <label>Update Step History</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <faultConnector>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Step_History__c</field>
            <value>
                <elementReference>StepHistoryUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Step_History</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>StepHistoryUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em style=&quot;color: rgb(3, 44, 247);&quot;&gt;{!Today}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$User.FirstName} {!$User.LastName}&amp;nbsp;&lt;/strong&gt;- {!New_Step}&lt;/p&gt;&lt;p&gt;To be completed on &lt;strong style=&quot;color: rgb(21, 0, 255);&quot;&gt;{!NextStep_Date_Time}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Old_Steps}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Input_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>New_Step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Input_Opportunity.NextStep</elementReference>
        </value>
    </variables>
    <variables>
        <name>Old_Steps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Input_Opportunity.Step_History__c</elementReference>
        </value>
    </variables>
</Flow>
