common/force-app/main/default/flows/Opportunity_Funds_Team_Notification_for_CSF_Investors_Limit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_for_Funds_Team_Investment_Limit</name>
        <label>Alert for Funds Team - Investment Limit</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <actionName>Opportunity.Alert_for_Funds_Team_Investment_Limit</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Email_sent_checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_for_Funds_Team_Investment_Limit</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_for_Funds_Team_Investment_Limit_Second_Year</name>
        <label>Alert for Funds Team - Investment Limit Second Year</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <actionName>Opportunity.Alert_for_Funds_Team_Investment_Limit_Second_Year</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_2_of_Update_Email_sent_checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_for_Funds_Team_Investment_Limit_Second_Year</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_for_Funds_Team_Investment_Limit_Third_Year</name>
        <label>Alert for Funds Team - Investment Limit Third Year</label>
        <locationX>1106</locationX>
        <locationY>1895</locationY>
        <actionName>Opportunity.Alert_for_Funds_Team_Investment_Limit_Third_Year</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_Email_sent_checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_for_Funds_Team_Investment_Limit_Third_Year</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_Date_Range</name>
        <label>Calculate Date Rang</label>
        <locationX>512</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Start_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Date_of_first_Investment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>End_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Second_End_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Second_End_Date_Calculatiom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Third_End_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Third_End_Date_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Total_Investment</name>
        <label>Initialise Total Investment</label>
        <locationX>512</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Total_Investment_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Related_Opportunities_within_first_year</name>
        <label>Related Opportunities within first year</label>
        <locationX>116</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Varible_start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varible_End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Related_Opportunities_within_second_year</name>
        <label>Related Opportunities within second year</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Varible_start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varible_End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Second_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Related_Opportunities_within_third_year</name>
        <label>Related Opportunities within third year</label>
        <locationX>644</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Varible_start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Second_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varible_End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Third_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total_Amount</name>
        <label>Update_Total_Amount</label>
        <locationX>600</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Total_Investment_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Opportunity.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_and_Product_is_Found</name>
        <label>Check if Account and Product is Found</label>
        <locationX>1337</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_if_Account_and_Product_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Retail_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Date_of_First_Investment</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Date_Range</targetReference>
            </connector>
            <label>Account and Product is Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element checks if the investment is greater than 10,000 within a year from the first date of investment</description>
        <name>Check_Investment_Limit</name>
        <label>Check Investment Limit</label>
        <locationX>512</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Check_Investment_Limit_for_Second_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notify_Funds_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Investment_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Investment_Limit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_for_Funds_Team_Investment_Limit</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Notify Funds Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Investment_Limit_for_Second_Year</name>
        <label>Check Investment Limit for Second Year</label>
        <locationX>974</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Check_Investment_Limit_for_Third_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fnds_Team_Alert_for_Second_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Investment_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Investment_Limit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Second_End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_for_Funds_Team_Investment_Limit_Second_Year</targetReference>
            </connector>
            <label>Fnds Team Alert for Second Year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Investment_Limit_for_Third_Year</name>
        <label>Check Investment Limit for Third Year</label>
        <locationX>1370</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funds_Team_Alert_for_Third_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Investment_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Investment_Limit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Third_End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_for_Funds_Team_Investment_Limit_Third_Year</targetReference>
            </connector>
            <label>Funds Team Alert for Third Year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_range</name>
        <label>Date Range for Related Opportunities</label>
        <locationX>512</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>year_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Start_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Opportunities_within_first_year</targetReference>
            </connector>
            <label>year 1</label>
        </rules>
        <rules>
            <name>year_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>End_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Second_End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Opportunities_within_second_year</targetReference>
            </connector>
            <label>year 2</label>
        </rules>
        <rules>
            <name>Year_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Second_End_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Third_End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Opportunities_within_third_year</targetReference>
            </connector>
            <label>Year 3</label>
        </rules>
    </decisions>
    <description>This flow will send notifications to the funds team if the investor limit crosses $10,000 in a year</description>
    <environments>Default</environments>
    <formulas>
        <name>End_Date_Calculation</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Account.Date_of_first_Investment__c}, 12)</expression>
    </formulas>
    <formulas>
        <name>Second_End_Date_Calculatiom</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Account.Date_of_first_Investment__c}, 24)</expression>
    </formulas>
    <formulas>
        <name>Third_End_Date_Calculation</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Account.Date_of_first_Investment__c}, 36)</expression>
    </formulas>
    <interviewLabel>Opportunity : Notification for Funds Team about CSF Investors Limit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : Funds Team Notification for CSF Investors Limit -New</label>
    <loops>
        <name>Current_Opportunity</name>
        <label>Current Opportunity</label>
        <locationX>512</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Related_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Total_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Investment_Limit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_error</name>
        <label>Log error</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Opportunity : Funds Team Notification for CSF Investors Limit -New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>1337</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Retail_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Wholesale__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account_Date_of_First_Investment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_of_first_Investment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunities</name>
        <label>Get Related Opportunities</label>
        <locationX>512</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialise_Total_Investment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Varible_start</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Varible_End</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Retail_Products</name>
        <label>Get CSF/Nomine Products</label>
        <locationX>1337</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_and_Product_is_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invested_Product_ADMIN_FIELD__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSF Nominee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSF Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This element will update the checkbox of Investment Limit</description>
        <name>Copy_1_of_Update_Email_sent_checkbox</name>
        <label>Update Email sent checkbox</label>
        <locationX>1106</locationX>
        <locationY>2003</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Investment_Limit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This element will update the checkbox of Investment Limit</description>
        <name>Copy_2_of_Update_Email_sent_checkbox</name>
        <label>Update Email sent checkbox</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Investment_Limit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This element will update the checkbox of Investment Limit</description>
        <name>Update_Email_sent_checkbox</name>
        <label>Update Email sent checkbox</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Investment_Limit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1211</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND 7 AND ( 4 OR 5 OR 6 )</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122v000002VOzfAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Wholesale__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Investment_Limit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Receipt Issued</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Account_Date_of_First_Investment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>End_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Second_End_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Third_End_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Total_Investment_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Varible_End</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Varible_start</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
