common/force-app/main/default/flows/Opportunity_Sync_Opp_fields_to_Investment_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Investment_Found</name>
        <label>Investment Found?</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Investment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sync_to_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sync the updated Opportunity fields to me updated on the related investment record</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Sync Opp fields to Investment Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Sync Opp fields to Investment Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Message</name>
        <label>Log Message</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Opportunity: Sync Opp fields to Investment Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Investment</name>
        <label>Get Investment</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Investment_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_is_syncing_back_to_false</name>
        <label>Set is syncing back to false</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Syncing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Sync_to_False</name>
        <label>Set Sync to False</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Syncing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Sync_to_true</name>
        <label>Set Sync to true</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Investment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Syncing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investment</name>
        <label>Update Investment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_Sync_to_False</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_is_syncing_back_to_false</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Input_Opportunity.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_of_Refund__c</field>
            <value>
                <elementReference>Input_Opportunity.Amount_of_Refund__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>Input_Opportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Refunded__c</field>
            <value>
                <elementReference>Input_Opportunity.Customer_Refunded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Banked__c</field>
            <value>
                <elementReference>Input_Opportunity.Date_Banked__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Refund__c</field>
            <value>
                <elementReference>Input_Opportunity.Date_of_Refund__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defined_Term__c</field>
            <value>
                <elementReference>Input_Opportunity.Defined_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EIC_Property__c</field>
            <value>
                <elementReference>Input_Opportunity.EIC_Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EIC_Startup__c</field>
            <value>
                <elementReference>Input_Opportunity.EIC_STartup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_Deposited_Confirmation_from_Client__c</field>
            <value>
                <elementReference>Input_Opportunity.Funds_Deposited_Confirmation_from_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_Received_in_Bank__c</field>
            <value>
                <elementReference>Input_Opportunity.Funds_received_in_Bank__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Term_Expiry__c</field>
            <value>
                <elementReference>Input_Opportunity.Initial_Term_Expiry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maturation_date_update_email__c</field>
            <value>
                <elementReference>Input_Opportunity.Maturation_date_update_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Redemption_Opportunity__c</field>
            <value>
                <elementReference>Input_Opportunity.Old_Redemption_Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Unit_Certificate_Amount__c</field>
            <value>
                <elementReference>Input_Opportunity.Unit_Certificate_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PA_CRN__c</field>
            <value>
                <elementReference>Input_Opportunity.PA_CRN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_ID_Checked__c</field>
            <value>
                <elementReference>Input_Opportunity.Primary_Contact_ID_Checked__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Issued__c</field>
            <value>
                <elementReference>Input_Opportunity.Receipt_Issued__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redemption_Request_Date__c</field>
            <value>
                <elementReference>Input_Opportunity.Redemption_Request_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redemption_Request__c</field>
            <value>
                <elementReference>Input_Opportunity.Redemption_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redemption_payment_date__c</field>
            <value>
                <elementReference>Input_Opportunity.Redemption_payment_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Requested__c</field>
            <value>
                <elementReference>Input_Opportunity.Refund_Requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rollover_Investment__c</field>
            <value>
                <elementReference>Input_Opportunity.Rollover_Investment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_App_Receipt_Email__c</field>
            <value>
                <elementReference>Input_Opportunity.Send_App_Receipt_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Unit_Cert_Email__c</field>
            <value>
                <elementReference>Input_Opportunity.Send_Unit_Cert_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>Input_Opportunity.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wholesale__c</field>
            <value>
                <elementReference>Input_Opportunity.Wholesale__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Investment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Input_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
