common/force-app/main/default/flows/Opportunity_Create_Update_Investments_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IsUpdateOrCreated</name>
        <label>IsUpdateOrCreated</label>
        <locationX>994</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCreatedOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Investment_Record</targetReference>
            </connector>
            <label>isCreated</label>
        </rules>
        <rules>
            <name>isChangedOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvestmentsToUpdate</targetReference>
            </connector>
            <label>isChanged</label>
        </rules>
    </decisions>
    <description>Flow to either create or update investment records based on the Opp</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity : Create/Update Investments Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : Create/Update Investments Sub Flow</label>
    <loops>
        <name>Loop_through_Investments_to_Update</name>
        <label>Loop through Investments to Update</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <collectionReference>InvestmentsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_to_syncing</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the Investment record using the opportunity fields</description>
        <name>Create_Investment_Record</name>
        <label>Create Investment Record</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Input_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_Received_in_Bank__c</field>
            <value>
                <elementReference>Input_Opportunity.Funds_received_in_Bank__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Amount__c</field>
            <value>
                <elementReference>Input_Opportunity.Unit_Certificate_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Date__c</field>
            <value>
                <elementReference>Input_Opportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Opp_ID__c</field>
            <value>
                <elementReference>Input_Opportunity.Opportunity_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Image__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Product_ADMIN_FIELD__r.DisplayUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Name__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Product_ADMIN_FIELD__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Type__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Product_ADMIN_FIELD__r.Investment_Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Opp_Prod_ADMIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchased_Shares__c</field>
            <value>
                <elementReference>Input_Opportunity.Number_Of_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_product__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Product_ADMIN_FIELD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>Input_Opportunity.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Cert_Issued__c</field>
            <value>
                <elementReference>Input_Opportunity.Unit_Cert_Issued__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Message</name>
        <label>Log Message</label>
        <locationX>1674</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Opportunity : Create/Update Investments Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>InvestmentsToUpdate</name>
        <label>InvestmentsToUpdate</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Investments_to_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_sync_to_false</name>
        <label>Set sync to false</label>
        <locationX>1282</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Investments_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Syncing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Syncing_is_false</name>
        <label>Syncing is false</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_through_Investments_to_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Investments_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Syncing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investment_Records</name>
        <label>Update Investment Records</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Syncing_is_false</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_sync_to_false</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Investments_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Input_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_Received__c</field>
            <value>
                <elementReference>Input_Opportunity.Funds_received_in_Bank__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_Received_in_Bank__c</field>
            <value>
                <elementReference>Input_Opportunity.Funds_received_in_Bank__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Amount__c</field>
            <value>
                <elementReference>Input_Opportunity.Unit_Certificate_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Date__c</field>
            <value>
                <elementReference>Input_Opportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Opp_ID__c</field>
            <value>
                <elementReference>Input_Opportunity.Opportunity_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Image__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Product_ADMIN_FIELD__r.DisplayUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Name__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Product_ADMIN_FIELD__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Type__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Product_ADMIN_FIELD__r.Investment_Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Opp_Prod_ADMIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchased_Shares__c</field>
            <value>
                <elementReference>Input_Opportunity.Number_Of_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_product__c</field>
            <value>
                <elementReference>Input_Opportunity.Invested_Product_ADMIN_FIELD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>Input_Opportunity.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Cert_Issued__c</field>
            <value>
                <elementReference>Input_Opportunity.Unit_Cert_Issued__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_syncing</name>
        <label>Update to syncing</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Investment_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Investments_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Syncing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <start>
        <locationX>868</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsUpdateOrCreated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Input_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>IsCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
