common/force-app/main/default/flows/Opportunity_Create_Update_Investments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IsUpdateOrCreated</name>
        <label>IsUpdateOrCreated</label>
        <locationX>358</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCreatedOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Investment_Record</targetReference>
            </connector>
            <label>isCreated</label>
        </rules>
        <rules>
            <name>isChangedOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvestmentsToUpdate</targetReference>
            </connector>
            <label>isChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity : Create/Update Investments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : Create/Update Investments</label>
    <loops>
        <name>Loop_through_Investments_to_Update</name>
        <label>Loop through Investments to Update</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>InvestmentsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Investment_Records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the Investment record using the opportunity fields</description>
        <name>Create_Investment_Record</name>
        <label>Create Investment Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_Received_in_Bank__c</field>
            <value>
                <elementReference>$Record.Funds_received_in_Bank__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Amount__c</field>
            <value>
                <elementReference>$Record.Unit_Certificate_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Opp_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Image__c</field>
            <value>
                <elementReference>$Record.Invested_Product_ADMIN_FIELD__r.DisplayUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Name__c</field>
            <value>
                <elementReference>$Record.Invested_Product_ADMIN_FIELD__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Type__c</field>
            <value>
                <elementReference>$Record.Invested_Product_ADMIN_FIELD__r.Investment_Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>$Record.Invested_Opp_Prod_ADMIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchased_Shares__c</field>
            <value>
                <elementReference>$Record.Number_Of_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_product__c</field>
            <value>
                <elementReference>$Record.Invested_Product_ADMIN_FIELD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Cert_Issued__c</field>
            <value>
                <elementReference>$Record.Unit_Cert_Issued__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>InvestmentsToUpdate</name>
        <label>InvestmentsToUpdate</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Investments_to_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Investment_Records</name>
        <label>Update Investment Records</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_through_Investments_to_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Investments_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funds_Received__c</field>
            <value>
                <elementReference>$Record.Funds_received_in_Bank__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Amount__c</field>
            <value>
                <elementReference>$Record.Unit_Certificate_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Opp_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Image__c</field>
            <value>
                <elementReference>$Record.Invested_Product_ADMIN_FIELD__r.DisplayUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Name__c</field>
            <value>
                <elementReference>$Record.Invested_Product_ADMIN_FIELD__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product_Type__c</field>
            <value>
                <elementReference>$Record.Invested_Product_ADMIN_FIELD__r.Investment_Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>$Record.Invested_Opp_Prod_ADMIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchased_Shares__c</field>
            <value>
                <elementReference>$Record.Number_Of_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_product__c</field>
            <value>
                <elementReference>$Record.Invested_Product_ADMIN_FIELD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Cert_Issued__c</field>
            <value>
                <elementReference>$Record.Unit_Cert_Issued__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsUpdateOrCreated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Receipt Issued</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closing Pending</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
