common/force-app/main/default/flows/Opportunity_Membership_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Evaluate_Possibilities</name>
        <label>Evaluate Possibilities</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Membership_Valid_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Membership.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Active_Membership</targetReference>
            </connector>
            <label>Active Membership - Valid Product</label>
        </rules>
        <rules>
            <name>Inactive_Membership_Valid_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Membership.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Inactive_Membership</targetReference>
            </connector>
            <label>Inactive Membership - Valid Product</label>
        </rules>
        <rules>
            <name>No_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Membership_With_Product</targetReference>
            </connector>
            <label>No Membership - Valid Product</label>
        </rules>
        <rules>
            <name>Active_Membership_No_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Membership.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_No_Product</targetReference>
            </connector>
            <label>Active Membership - No Product</label>
        </rules>
        <rules>
            <name>Inactive_Membership_No_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Membership.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_No_Product</targetReference>
            </connector>
            <label>Inactive Membership - No Product</label>
        </rules>
        <rules>
            <name>No_Membership_No_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Membership_No_Prod</targetReference>
            </connector>
            <label>No Membership - No Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Product_Family</name>
        <label>Evaluate Product Family</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Possibilities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wholesale</defaultConnectorLabel>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Bypass</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Closed_Won</name>
        <label>Is it Closed Won?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Its_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lost</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>It_is_Won</targetReference>
            </connector>
            <label>Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Closed_Won_Lost</name>
        <label>Is this Closed Won/Lost?</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Product_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Is_this_Closed_Won_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Closed_Won</targetReference>
            </connector>
            <label>Might be closed or lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Membership Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Membership Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Active_No_Product</name>
        <label>Active - No Product</label>
        <locationX>3218</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Membership.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Membership.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>No Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Inactive_No_Product</name>
        <label>Inactive - No Product</label>
        <locationX>3746</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Membership.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Membership.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>No Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>It_is_Won</name>
        <label>It is Won</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Its_Lost</name>
        <label>Its Lost</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>No_Membership_No_Prod</name>
        <label>No Membership - No Prod</label>
        <locationX>4274</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>No Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <stringValue>No Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>No Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>No_Membership_With_Product</name>
        <label>No Membership With Product</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>No Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <stringValue>No Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Product_Active_Membership</name>
        <label>Product &amp; Active Membership</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Membership.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Membership.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Product_Inactive_Membership</name>
        <label>Product &amp; Inactive Membership</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>Membership.Membership_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Membership.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Bypass</name>
        <label>Update Opp &amp; Bypass</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Close_Won__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_Closed_Won_Lost</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Membership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
