common/force-app/main/default/flows/Opportunity_Update_Investment_Status_from_Opp_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Closed_or_Closing</name>
        <label>Closed or Closing</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Opportunity.Closed_Won_Stages__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Redeemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investment_Closing</targetReference>
            </connector>
            <label>Closing</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Input_Opportunity.Closed_Won_Stages__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Redeemed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Opportunity.Closed_Won_Stages__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rollover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Opportunity.Closed_Won_Stages__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investment_Closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>Updates the Investment sub stages based on changes in the related opportunity</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Update Investment Status from Opp Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Update Investment Status from Opp Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Message</name>
        <label>Log Message</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Opportunity: Update Investment Status from Opp Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Investment</name>
        <label>Get Investment</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_or_Closing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Investment_Closed</name>
        <label>Update Investment Closed</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investment_Stages__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>invSub_Status__c</field>
            <value>
                <elementReference>Input_Opportunity.Closed_Won_Stages__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investment_Closing</name>
        <label>Update Investment Closing</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investment_Stages__c</field>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>invSub_Status__c</field>
            <value>
                <elementReference>Input_Opportunity.Closed_Won_Stages__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Investment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Input_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
