common/force-app/main/default/flows/Product_FileShare.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>File_Sharing_Product_Obj_Apex</name>
        <label>File Sharing Product Obj Apex</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>FileSharingProductObj</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Emails</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>GetProduct.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uploadedFileId</name>
            <value>
                <elementReference>UploadedFile_ID.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FileSharingProductObj</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Seed_List_CampaignMember_to_Collection</name>
        <label>Add Seed List CampaignMember to Collection</label>
        <locationX>50</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TestSend_CampaignMember_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CampaignMember_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CampaignMember_Record</name>
        <label>Assign CampaignMember Record</label>
        <locationX>226</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>CreateCampaignMemberRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCampaignMemberRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Records.Primary_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCampaignMemberRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCampaignMemberRecord.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCampaignMemberRecord.FilePublicURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Distribution_Record.DistributionPublicUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCampaignMemberRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingCampaignMemberRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCampaignMemberRecord.Email_Body_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Body_Content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCampaignMemberRecord.Communication_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Communication_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_record_has_already_been_processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CampaignMember_Record_to_Collection</name>
        <label>Assign CampaignMember Record to Collection</label>
        <locationX>314</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateCampaignMemberRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ContactIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContactIDs</name>
        <label>Assign ContactIDs</label>
        <locationX>314</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>ContactIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Records.Primary_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_CampaignMember_Record</name>
        <label>Assign Existing CampaignMember Record</label>
        <locationX>314</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>ExistingCampaignMemberRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Collection_Filter_of_Existing_CampaignMember_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection_Filter_of_Existing_CampaignMember_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seed_List_CampaignMember_Record</name>
        <label>Assign Seed List CampaignMember Record</label>
        <locationX>50</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seed_List_CampaignMember.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seed_List_CampaignMember.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Seed_List_CampaignMember_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_Send_CampaignMember_Record</name>
        <label>Assign Test Send CampaignMember Record</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Send_CampaignMember.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.FilePublicURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Distribution_Record.DistributionPublicUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.Email_Body_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Body_Content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Send_CampaignMember.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Send_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSend_CampaignMember_Record.Communication_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Communication_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Test_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Record_Count</name>
        <label>Assign Total Record Count</label>
        <locationX>50</locationX>
        <locationY>4034</locationY>
        <assignmentItems>
            <assignToReference>Total_Record_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CampaignMemberRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Contact_IDs</name>
        <label>Concat Contact IDs</label>
        <locationX>138</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>OpportunityContactIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Records_for_Contact_IDs.Primary_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Records_for_Contact_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Existing_CampaignMember_Record</name>
        <label>Reset Existing CampaignMember Record</label>
        <locationX>226</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>ExistingCampaignMemberRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection_Filter_of_Existing_CampaignMember_Record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Existing_CampaignMember_Collection_Based_on_Contact_ID</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing CampaignMember Collection Based on Contact ID</label>
        <locationX>226</locationX>
        <locationY>2486</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_CampaignMember_Collection_Based_on_Contact_ID</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_CampaignMember_Records_for_Opportunity_Contacts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_CampaignMember_Collection_Based_on_Contact_ID.ContactId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Opportunity_Records.Primary_Contact__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Reset_Existing_CampaignMember_Record</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_record_has_already_been_processed</name>
        <label>Check if record has already been processed</label>
        <locationX>226</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Assign_CampaignMember_Record_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Opportunity_Records.Primary_Contact__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Opportunity_Records</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Emails_Decision</name>
        <label>Send Emails</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Emails_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Email_Body_Content</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Upload and Share a file to all related investments</description>
    <dynamicChoiceSets>
        <name>CommunicationTypePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Communication_Type__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Product_FileShare {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product_FileShare</label>
    <loops>
        <name>Loop_Collection_Filter_of_Existing_CampaignMember_Record</name>
        <label>Loop Collection Filter of Existing CampaignMember Record</label>
        <locationX>226</locationX>
        <locationY>2702</locationY>
        <collectionReference>Filter_Existing_CampaignMember_Collection_Based_on_Contact_ID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_CampaignMember_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_CampaignMember_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opportunity_Records</name>
        <label>Loop Through Opportunity Records</label>
        <locationX>50</locationX>
        <locationY>2378</locationY>
        <collectionReference>Get_Opportunity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Existing_CampaignMember_Collection_Based_on_Contact_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Seed_List_CampaignMember</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opportunity_Records_for_Contact_IDs</name>
        <label>Loop Through Opportunity Records for Contact IDs</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <collectionReference>Get_Opportunity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concat_Contact_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CampaignMember_Records_for_Opportunity_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CampaignMember_Records</name>
        <label>Upsert CampaignMember Records</label>
        <locationX>50</locationX>
        <locationY>3926</locationY>
        <connector>
            <targetReference>Assign_Total_Record_Count</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <doesUpsertAllOrNone>true</doesUpsertAllOrNone>
        <inputReference>CampaignMemberRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Content</name>
        <label>Create Content Distribution Record</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Content_Distribution_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UploadedFile_ID.ContentDocument.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowOriginalDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowPDFDownload</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesExpires</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesLinkLatestVersion</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesNotifyOnVisit</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesNotifyRndtnComplete</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesPasswordRequired</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get</name>
        <label>Get Content Version of Uploaded File</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UploadedFile_ID.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Test_Send_CampaignMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automated Investor Updates</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CampaignMember_Records_for_Opportunity_Contacts</name>
        <label>Get CampaignMember Records for Opportunity Contacts</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunity_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>OpportunityContactIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Distribution_Record</name>
        <label>Get Content Distribution Record</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Content</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Test_Send_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProduct.ProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Won_Stages__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fully Redeemed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Investor_Updates_OptIn__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Seed_List_CampaignMember</name>
        <label>Get Seed List CampaignMember</label>
        <locationX>50</locationX>
        <locationY>3602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Seed_List_CampaignMember_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>seed@venturecrowd.com.au</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Test_Send_CampaignMember</name>
        <label>Get Test Send CampaignMember</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Test_Send_CampaignMember_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>investor@venturecrowd.com.au</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Test_Send_Opportunity</name>
        <label>Get Test Send Opportunity</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProduct.ProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Won_Stages__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fully Redeemed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Investor_Updates_OptIn__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Uploaded_File_ID</name>
        <label>Get Uploaded File ID</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_ContentDocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>UploadedFile_ID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
        <queriedFields>SystemModstamp</queriedFields>
        <queriedFields>Visibility</queriedFields>
        <queriedFields>ShareType</queriedFields>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>4142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Heading_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(20, 115, 0);&quot;&gt;Successfully sent {!Total_Record_Count} investor update emails. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Email_Body_Content</name>
        <label>Enter Email Body Content</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <fields>
            <name>Email_Body_Content</name>
            <fieldText>Email Body Content (Optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Body_Content_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;ℹ️ &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Content entered here will display within the automated email template after the PDF link.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Communication_Type</name>
            <choiceReferences>CommunicationTypePicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Investor Update</stringValue>
            </defaultValue>
            <fieldText>Communication Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommunicationTypeHelptext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;ℹ️ &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;When the communication type is &lt;u&gt;Pre-emptive Rights&lt;/u&gt;, then a &quot;Confirm your interest&quot; link will be displayed after the email body content entered above.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Uploaded_File_ID</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://venturecrowd.file.force.com/sfc/servlet.shepherd/version/download/068J3000002PxNw?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;please-readme.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;🗂️ &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(102, 97, 255);&quot;&gt;Upload files for {!Product_Record.Name} here&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; 📍&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(20, 115, 0);&quot;&gt;⚠️ Make sure that it has the right naming convention otherwise they wont be shared to its related investments.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(20, 115, 0);&quot;&gt;⚠️ If you upload a file in the notes and attachments view, they won&apos;t be shared with the product related investments.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetProduct.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>FileUpload.fileNames</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;{!FileUploadTemplate}&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_ContentDocument</name>
        <label>Review ContentDocument</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>File_Sharing_Product_Obj_Apex</targetReference>
        </connector>
        <fields>
            <name>Product</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Linked Product Name:&lt;/strong&gt; {!Linked_Product.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Product ID: {!Linked_Product.Id}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContentDocumentLinkInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;File ID: &lt;/strong&gt;{!UploadedFile_ID.ContentDocumentId}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;File Title: &lt;/strong&gt;{!UploadedFile_ID.ContentDocument.Title}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Emails_Decision</targetReference>
        </connector>
        <fields>
            <name>SendEmailsTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Send automated investor update emails?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_Emails_Yes_No</name>
            <dataType>Boolean</dataType>
            <fieldText>Send emails</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_Emails_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;⚠️ This will send out an automated email to all eligible investors for the current product. This email will contain a link to the uploaded document in the previous step.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Send_Test_Email</name>
        <label>Send Test Email</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <actions>
            <name>SendTestEmailFlowBtn</name>
            <actionName>IR_Send_Test_Email</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>CampaignMember</name>
                <value>
                    <elementReference>TestSend_CampaignMember_Record</elementReference>
                </value>
            </inputParameters>
            <label>IR_Send_Test_Email</label>
            <nameSegment>IR_Send_Test_Email</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Opportunity_Records_for_Contact_IDs</targetReference>
        </connector>
        <fields>
            <name>SendTestEmailBtn</name>
            <extensionName>flowruntime:actionButtonField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send Sample Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <elementReference>SendTestEmailFlowBtn.IsSuccess</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inProgress</name>
                <value>
                    <elementReference>SendTestEmailFlowBtn.InProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <elementReference>SendTestEmailFlowBtn.ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TestEmailSuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(14, 131, 26);&quot;&gt;Sample email sent!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SendTestEmailFlowBtn.IsSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SendTestEmailHelpText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;ℹ️ &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Sample of automated investor update email will be sent to &lt;u&gt;investor@venturecrowd.com.au&lt;/u&gt;. Note it may take 2-3 minutes for the email to arrive after clicking the button above.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send All Emails</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>SendTestEmailBtn</eventSource>
            <handlers>
                <screenActionName>SendTestEmailFlowBtn</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FileUploadTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Welcome to the File Upload Process 🗂️&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;&lt;u&gt;Please remember to use the right naming conventions otherwise the file won&apos;t be shared to the desired records.&lt;/u&gt;&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CampaignMemberRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ContactIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateCampaignMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_CampaignMember_Collection_Based_on_Contact_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ExistingCampaignMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>File_ID_4Apex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Linked_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>OpportunityContactIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product_ID_FromProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Product_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>TestSend_CampaignMember_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Total_Record_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UploadedFile_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
