common/force-app/main/default/flows/Raise_Relate_EOI_Message_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Message_found</name>
        <label>Message found?</label>
        <locationX>314</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_messages.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Message_with_EOI</targetReference>
            </connector>
            <label>Yea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_call_found</name>
        <label>Mobile call found?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mobile_call.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mobile_Call_with_EOI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Only when a raise is created this flow will see if any messages or mobile calls should related to it</description>
    <environments>Default</environments>
    <interviewLabel>Raise: Relate EOI/Message Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raise: Relate Call/Message Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Error_Message</name>
        <label>Log Error Message</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Raise: Relate Call/Message</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Raise: Relate Call/Message Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_messages</name>
        <label>Get messages</label>
        <locationX>314</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Message_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Raise__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Internal_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>+61 482 082 999</stringValue>
            </value>
        </filters>
        <filters>
            <field>Internal_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>+61 488 846 022</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mobile_call</name>
        <label>Get Mobile call</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mobile_call_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Raise__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ventures</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mobile_Call__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Record</name>
        <label>Get Triggering Record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Mobile_call</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Raise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Message_with_EOI</name>
        <label>Update Message with EOI</label>
        <locationX>50</locationX>
        <locationY>914</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_messages.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Raise__c</field>
            <value>
                <elementReference>Get_Triggering_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Message__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mobile_Call_with_EOI</name>
        <label>Update Mobile Call with EOI</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_messages</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Mobile_call.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Raise__c</field>
            <value>
                <elementReference>Get_Triggering_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mobile_Call__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
