common/force-app/main/default/flows/Raise_Fill_Raise_Record_with_EOI_Data_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>When a raise has an EOI related it is prefilled with the related EOI&apos;s data</description>
    <environments>Default</environments>
    <formulas>
        <name>RetailorWholsale</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Triggering_Raise.Company__r.Retail__c}=true,&apos;Retail&apos;,&apos;Wholesale&apos;)</expression>
    </formulas>
    <interviewLabel>Raise: Fill Raise Record with EOI Data Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raise: Fill Raise Record with EOI Data Sub Flow</label>
    <loops>
        <name>Loop_EOI_Media_Links</name>
        <label>Loop EOI Media Links</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Related_EOI_Media_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Raise_Media_Links</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_EOI_Team_Advisors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_EOI_Team_Advisors</name>
        <label>Loop EOI Team &amp; Advisors</label>
        <locationX>176</locationX>
        <locationY>1022</locationY>
        <collectionReference>Get_EOI_Team_Advisors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Raise_Team_Advisors</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Raise_Media_Links</name>
        <label>Create Raise Media Links</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_EOI_Media_Links</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Media_URL__c</field>
            <value>
                <elementReference>Loop_EOI_Media_Links.Media_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_EOI_Media_Links.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Raise__c</field>
            <value>
                <elementReference>Get_Triggering_Raise.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Raise_Media_Links__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Raise_Team_Advisors</name>
        <label>Create Raise Team &amp; Advisors</label>
        <locationX>264</locationX>
        <locationY>1130</locationY>
        <connector>
            <targetReference>Loop_EOI_Team_Advisors</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Loop_EOI_Team_Advisors.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Loop_EOI_Team_Advisors.Team_Member_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn__c</field>
            <value>
                <elementReference>Loop_EOI_Team_Advisors.Team_member_Linkedin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_EOI_Team_Advisors.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Picture__c</field>
            <value>
                <elementReference>Loop_EOI_Team_Advisors.Founder_Picture__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Raise__c</field>
            <value>
                <elementReference>Get_Triggering_Raise.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Loop_EOI_Team_Advisors.Member_Role__c</elementReference>
            </value>
        </inputAssignments>
        <object>Raise_Team_and_Advisors__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_error_Message</name>
        <label>Log error Message</label>
        <locationX>1712</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Fill Raise Record with EOI Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Raise: Fill Raise Record with EOI Data Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_EOI_Team_Advisors</name>
        <label>Get EOI Team &amp; Advisors</label>
        <locationX>176</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_EOI_Team_Advisors</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team_Related_EOI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_EOI.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EOI_Team_and_Advisors__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_EOI</name>
        <label>Get Related EOI</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateRaiseRecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Raise.EOI__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EOI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_EOI_Media_Links</name>
        <label>Get Related EOI Media Links</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_EOI_Media_Links</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EOI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_EOI.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EOI_Media_Links__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Raise</name>
        <label>Get Triggering Raise</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_EOI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Raise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRaiseRecord</name>
        <label>UpdateRaiseRecord</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Related_EOI_Media_Links</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Raise.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Form_Company_Overview__c</field>
            <value>
                <elementReference>Get_Related_EOI.Offer_Overview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Company_one_liner__c</field>
            <value>
                <elementReference>Get_Related_EOI.One_liner_about_business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Differentiation__c</field>
            <value>
                <elementReference>Get_Related_EOI.Differentiation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Facebook__c</field>
            <value>
                <elementReference>Get_Related_EOI.Facebook_link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Growth_plan__c</field>
            <value>
                <elementReference>Get_Related_EOI.Growth_plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Instagram__c</field>
            <value>
                <elementReference>Get_Related_EOI.Instagram_link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Intellectual_Property__c</field>
            <value>
                <elementReference>Get_Related_EOI.Intellectual_Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_LinkedIn__c</field>
            <value>
                <elementReference>Get_Related_EOI.Linkedin_link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Problem_or_Opportunity__c</field>
            <value>
                <elementReference>Get_Related_EOI.Problem_or_opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Progress__c</field>
            <value>
                <elementReference>Get_Related_EOI.EOI_Progress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Sector__c</field>
            <value>
                <elementReference>Get_Related_EOI.Sector__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Solution__c</field>
            <value>
                <elementReference>Get_Related_EOI.Solution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Target_amount__c</field>
            <value>
                <elementReference>Get_Related_EOI.Target_Raise_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Total_addressable_market__c</field>
            <value>
                <elementReference>Get_Related_EOI.Total_addressable_market__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Website__c</field>
            <value>
                <elementReference>Get_Related_EOI.Company_Website_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_X_Twitter__c</field>
            <value>
                <elementReference>Get_Related_EOI.Twitter_X_link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Youtube__c</field>
            <value>
                <elementReference>Get_Related_EOI.Youtube_link__c</elementReference>
            </value>
        </inputAssignments>
        <object>Raise__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Raise</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
