common/force-app/main/default/flows/Raise_Create_Product_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Retail_OR_Wholesale</name>
        <label>Retail OR Wholesale</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wholesale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Triggered_record.Form_Investment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wholesale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Triggered_record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Raise_to_Product</targetReference>
            </connector>
            <label>Wholesale</label>
        </rules>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Triggered_record.Form_Investment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Triggered_record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSF_Offer_doc</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <description>(TransformElemement) When a Raise record is ready a product is created pulling in the raise&apos;s data</description>
    <environments>Default</environments>
    <formulas>
        <name>CSFOFFERDOCTITLE</name>
        <dataType>String</dataType>
        <expression>&quot;Offer Document_&quot; &amp; {!Get_Triggered_record.Name} &amp; &quot;.pdf&quot;</expression>
    </formulas>
    <formulas>
        <name>Offerdoctitle</name>
        <dataType>String</dataType>
        <expression>&quot;Offer Document_&quot; &amp; {!Get_Triggered_record.Name} &amp; &quot;.pdf &quot; &amp; 
IF(LEN(TEXT(DAY({!$Flow.CurrentDate}))) = 1, &quot;0&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})), TEXT(DAY({!$Flow.CurrentDate}))) &amp; &quot;/&quot; &amp; 
IF(LEN(TEXT(MONTH({!$Flow.CurrentDate}))) = 1, &quot;0&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})), TEXT(MONTH({!$Flow.CurrentDate}))) &amp; &quot;/&quot; &amp; 
TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>ProductCodeUpdate</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!Get_Triggered_record.Trust_Deed_Name__c}, 1)) &amp; 

IF(
  CONTAINS({!Get_Triggered_record.Trust_Deed_Name__c}, &quot; &quot;), 
  UPPER(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1, 1)), 
  &quot;&quot;
) &amp; 

IF(
  AND(
    CONTAINS(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1, LEN({!Get_Triggered_record.Trust_Deed_Name__c})), &quot; &quot;),
    FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) &gt; 0
  ), 
  UPPER(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1, 1)), 
  &quot;&quot;
) &amp; 

IF(
  AND(
    CONTAINS(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1, LEN({!Get_Triggered_record.Trust_Deed_Name__c})), &quot; &quot;),
    FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) &gt; 0
  ), 
  UPPER(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) + 1, 1)), 
  &quot;&quot;
) &amp; 

IF(
  AND(
    CONTAINS(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) + 1, LEN({!Get_Triggered_record.Trust_Deed_Name__c})), &quot; &quot;),
    FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) + 1) &gt; 0
  ), 
  UPPER(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) + 1) + 1, 1)), 
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>PublishedRaiseURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.venturecrowd.com.au/s/raise/&quot; &amp;{!Get_Triggered_record.Id}</expression>
    </formulas>
    <formulas>
        <name>RetailInvestNowDynamicURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.venturecrowd.com.au/s/portal/invest-now?amount=&quot; &amp; TEXT({!Get_Triggered_record.Form_Minimum_Investment_amount__c}) &amp; &quot;&amp;Id=&quot; &amp; {!retail_product_transform.Id}</expression>
    </formulas>
    <formulas>
        <name>WholesaleInvestNowDynamicURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.venturecrowd.com.au/s/portal/invest-now?amount=&quot; &amp; TEXT({!Get_Triggered_record.Form_Minimum_Investment_amount__c}) &amp; &quot;&amp;Id=&quot; &amp; {!Transform_Raise_to_Product.Id}</expression>
    </formulas>
    <interviewLabel>Raise: Create Product Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raise: Create Product Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Price_book_Entry</name>
        <label>Create Price book Entry</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Raise_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Transform_Raise_to_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_Triggered_record.Form_VentureCrowd_trust_unit_price__c</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Wholesale_transform</name>
        <label>Create Product Wholesale transform</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Created_Product</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>Transform_Raise_to_Product</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_retail_product_transform</name>
        <label>Create retail product transform</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Retail_Get_Created_Product</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>retail_product_transform</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Log_error_message</name>
        <label>Log error message</label>
        <locationX>4010</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Raise - Create Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Raise: Create Product Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Retail_Create_Price_book_Entry</name>
        <label>Retail Create Price book Entry</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Retail_Update_Raise_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Retail_Get_Standard_Price_book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>retail_product_transform.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_Triggered_record.Form_VentureCrowd_trust_unit_price__c</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Product</name>
        <label>Get Created Product</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_product_with_invest_now_ect</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transform_Raise_to_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>When the CSF Offer doc generated from raise has a public link enabled we grab it here and add it to the product as the downloadable URL!</description>
        <name>Get_CSF_Offer_doc</name>
        <label>Get CSF Offer doc</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>retail_product_transform</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CSFOFFERDOCTITLE</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_book</name>
        <label>Get Standard Price book</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Price_book_Entry</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggered_record</name>
        <label>Get Triggered record</label>
        <locationX>1766</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Raise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>1766</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retail_OR_Wholesale</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Raise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggered_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retail_Get_Created_Product</name>
        <label>Retail Get Created Product</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retail_Update_product_with_invest_now_ect</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>retail_product_transform.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retail_Get_Standard_Price_book</name>
        <label>Retail Get Standard Price book</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retail_Create_Price_book_Entry</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Retail_Update_product_with_invest_now_ect</name>
        <label>Retail Update product with invest now ect</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Retail_Get_Standard_Price_book</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>retail_product_transform.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invest_Now_Page__c</field>
            <value>
                <elementReference>RetailInvestNowDynamicURL</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Retail_Update_Raise_record</name>
        <label>Retail Update Raise record</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggered_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>retail_product_transform.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Raise_URL__c</field>
            <value>
                <elementReference>PublishedRaiseURL</elementReference>
            </value>
        </inputAssignments>
        <object>Raise__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_product_with_invest_now_ect</name>
        <label>Update product with invest now ect</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Standard_Price_book</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transform_Raise_to_Product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invest_Now_Page__c</field>
            <value>
                <elementReference>WholesaleInvestNowDynamicURL</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Raise_record</name>
        <label>Update Raise record</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggered_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Transform_Raise_to_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Raise_URL__c</field>
            <value>
                <elementReference>PublishedRaiseURL</elementReference>
            </value>
        </inputAssignments>
        <object>Raise__c</object>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggered_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RetailInvestmentcontracttext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The terms and conditions below form the investment contract (Investment Contract) between you (as, or as an authorised person for and on behalf of, the Applicant), the Issuer and VentureCrowd. It is important that you read and understand this document carefully and seek legal and other professional advice prior to accepting this agreement. Unless the context requires otherwise, capitalised words or phrases have the meaning given to them in the Summary of Particulars below.&lt;/p&gt;&lt;p&gt;I declare that I:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;understand that I am making an application for that number of fully paid ordinary shares in the Issuer as shown in the Summary of Particulars or such lower number as determined by VentureCrowd in consultation with the Issuer (Shares);&lt;/li&gt;&lt;li&gt;have read the CSF Offer Document and understand the CSF Offer Document is not a prospectus and contains less information than a prospectus;&lt;/li&gt;&lt;li&gt;have read the Risk Warning and understand that it contains some of the important information for making a decision about investing;&lt;/li&gt;&lt;li&gt;understand that crowd sourced funding is risky and that I may lose the entire investment;&lt;/li&gt;&lt;li&gt;could bear that loss without suffering undue hardship;&lt;/li&gt;&lt;li&gt;understand that I may never be able to sell my shares and the value of the investment may be diluted over time;&lt;/li&gt;&lt;li&gt;are aware that I can use the communication facility to ask questions and that there is a 5- business day cooling off period in relation to this investment;&lt;/li&gt;&lt;li&gt;will, if requested by the Issuer, promptly execute or, if required, arrange for each required party (such as, if required, any controller of the applicant) to execute, a copy of this investment agreement and any any other document reasonably necessary to evidence my electronic acceptance of the terms contained therein and I irrevocably appoint each director, from time to time, of the Issuer severally as my attorney only to the extent necessary to satisfy this obligation;&lt;/li&gt;&lt;li&gt;are Australian residents who are over 18 years of age;&lt;/li&gt;&lt;li&gt;understand that the Issuer is not listed on a stock exchange, that there is no assurance that it will become a listed entity, and that there may be limited (if any) opportunities to sell these Shares;&lt;/li&gt;&lt;li&gt;where I have provided information about another individual, warrant that I have obtained that individual’s consent to the submission of their information to VentureCrowd and to the Issuer;&lt;/li&gt;&lt;li&gt;acknowledge that once I have submitted an application to VentureCrowd, I do not have a right to withdraw my application unless the 5 business day cooling off period applies or unless the Issuer publishes a supplementary or replacement offer document due to the CSF Offer Document being&lt;/li&gt;&lt;li&gt;If my investment profile shows me as sophisticated or professional investors, I acknowledge that the 5 business day cooling off period does not apply to me; authorise VentureCrowd, the Issuer and their advisers, respective officers, employees and agents to do anything on my/our behalf necessary (including the completion and execution of the application form and other documents) to enable the Shares to be allocated to me;&lt;/li&gt;&lt;li&gt;have read and agree to be bound by the constitution and the shareholders’ agreement of the Issuer as in force from time to time, including any provisions which may (in certain circumstances) authorise the Issuer to take steps on my behalf or require me to dispose of my Shares;&lt;/li&gt;&lt;li&gt;unless my of our VentureCrowd investment profiles shows me as sophisticated or professional investors, I represent and warrant that this application will not result in me/any of us exceeding the $10,000 cap on the amount I can invest in CSF offers made by the same company in any 12 month period (Note: Investors recognised as sophisticated or professional investors can apply for more than $10,000);&lt;/li&gt;&lt;li&gt;I represent, warrant and agree that I am not in the United States, a US Person, a resident of the US for tax purposes and am/ are not acting for the account or benefit of a US person;&lt;/li&gt;&lt;li&gt;are not a financial institution for the purposes of the Foreign Account Tax Compliance Act (FATCA) and are not controlled by a US person or a resident of the US for tax purposes;&lt;/li&gt;&lt;li&gt;acknowledge that the information contained in the CSF Offer Document (and/or any supplement or replacement) and the VentureCrowd website and mobile application is not financial product advice nor an express or implied recommendation that Shares are suitable for me, given my investment objectives, financial situation or particular needs, and I understand that I should obtain my own professional advice in respect of any investment decision;&lt;/li&gt;&lt;li&gt;represent and warrant: 1. that I have not acquired, or agreed to acquire (directly or indirectly including through other entities, trusts or arrangements) any Shares in the Issuer during this offer period, other than through the VentureCrowd application facility; 2. that I have the financial capacity to make this investment and to accept the risk of this investment (including the risk of loss of capital), without causing financial hardship to me/us or to any other person; 3. that I will provide such further information required under the Anti-Money Laundering/Counter-Terrorism Financing Act 2006 (Cth), the Corporations Act 2001 (Cth) or any other law requested by VentureCrowd, the Issuer or the Issuer’s share. I further acknowledge that failure to provide such information in a timely manner, if requested, may result in rejection of my application; 4. that all details and statements made by me are complete and accurate; 5. that my subscription for Shares will not cause VentureCrowd, the Issuer or me to violate the laws of Australia or any other jurisdiction;&lt;/li&gt;&lt;li&gt;understand that Chapter 2C of the Corporations Act 2001 (Cth) requires information about me as a security holder (including my name, address and details of the securities I hold) to be included in the public register of the Information is collected to administer my/our security holding, to facilitate and improve VentureCrowd’s platform, any other purposes disclosed in the privacy policies referenced. If some or all of the information is not collected then it might not be possible to administer my My personal information may be disclosed to the Issuer and its share The privacy policy of VentureCrowd is available on its website;&lt;/li&gt;&lt;li&gt;acknowledge that I have read and agree to the VentureCrowd privacy policy, and represent and warrant that I have read, agree to and have not breached the VentureCrowd Member Terms and Conditions (both available on the VentureCrowd website);&lt;/li&gt;&lt;li&gt;understand that the Issuer or VentureCrowd has reserved the right to reject all or part of my application for any reason and is not required to provide any explanation;&lt;/li&gt;&lt;li&gt;acknowledge that, in the event that the offer is oversubscribed, VentureCrowd or the Issuer may determine the allocation policy in its absolute discretion and I agree not to make any claim against VentureCrowd or the Issuer in relation to the allocation policy;&lt;/li&gt;&lt;li&gt;except to the extent that liability cannot by law be excluded, I acknowledge that neither the Issuer, VentureCrowd, nor any of its affiliates, accept any responsibility in relation to the offer or the Shares. To the extent permitted by law, I agree to release the Issuer and VentureCrowd and each of its affiliates from all actions, claims, demands and proceedings (Claims) which I may have, or Claims against any of them in connection with my application and the offer (including its withdrawal).&amp;nbsp;&lt;/li&gt;&lt;/ol&gt;</text>
    </textTemplates>
    <transforms>
        <name>retail_product_transform</name>
        <label>Retail product transform</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_retail_product_transform</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Product2</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AFSL_Licence__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>VC</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Company__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_Legal_Trading_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Customer_SPV__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Account__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_one_liner__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DisplayUrl</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>https://venturecrowd.file.force.com/sfc/dist/version/download/?oid=00DIm000000LMVN&amp;ids=0685i00000B15ei&amp;d=%2Fa%2F5i000000ggOP%2FZSWHHZ6FrRi6UaGvUM2UXaRjg88b3e.yhiVgnvv_5Zg&amp;asPdf=false</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Family</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Investment_type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Finacial_Services_Guide__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>https://venturecrowd.file.force.com/sfc/dist/version/download/?oid=00DIm000000LMVN&amp;ids=0685i00000CRdqy&amp;d=%2Fa%2F5i000000YRMf%2FiycGsuDtlxt9yNnHEpNHvEHL06tjgOggQxUnW7UDirk&amp;asPdf=false</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>General_Risk_Warning__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>https://venturecrowd.file.force.com/sfc/dist/version/download/?oid=00DIm000000LMVN&amp;ids=0685i00000CRdr3&amp;d=%2Fa%2F5i000000YRMk%2FX6Vw94jk_wvYsIRpRYF0FfeafsCtVbJMt6HnLfI8z3g&amp;asPdf=false</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IM_PDS__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_CSF_Offer_doc.ContentDownloadUrl</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Investment_Contract_Text__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>The terms and conditions below form the investment contract (Investment Contract) between you (as, or as an authorised person for and on behalf of, the Applicant), the Issuer and VentureCrowd. It is important that you read and understand this document carefully and seek legal and other professional advice prior to accepting this agreement. Unless the context requires otherwise, capitalised words or phrases have the meaning given to them in the Summary of Particulars below.  I declare that I:  understand that I am making an application for that number of fully paid ordinary shares in the Issuer as shown in the Summary of Particulars or such lower number as determined by VentureCrowd in consultation with the Issuer (Shares); have read the CSF Offer Document and understand the CSF Offer Document is not a prospectus and contains less information than a prospectus; have read the Risk Warning and understand that it contains some of the important information for making a decision about investing; understand that crowd sourced funding is risky and that I may lose the entire investment; could bear that loss without suffering undue hardship; understand that I may never be able to sell my shares and the value of the investment may be diluted over time; are aware that I can use the communication facility to ask questions and that there is a 5- business day cooling off period in relation to this investment; will, if requested by the Issuer, promptly execute or, if required, arrange for each required party (such as, if required, any controller of the applicant) to execute, a copy of this investment agreement and any any other document reasonably necessary to evidence my electronic acceptance of the terms contained therein and I irrevocably appoint each director, from time to time, of the Issuer severally as my attorney only to the extent necessary to satisfy this obligation; are Australian residents who are over 18 years of age; understand that the Issuer is not listed on a stock exchange, that there is no assurance that it will become a listed entity, and that there may be limited (if any) opportunities to sell these Shares; where I have provided information about another individual, warrant that I have obtained that individual’s consent to the submission of their information to VentureCrowd and to the Issuer; acknowledge that once I have submitted an application to VentureCrowd, I do not have a right to withdraw my application unless the 5 business day cooling off period applies or unless the Issuer publishes a supplementary or replacement offer document due to the CSF Offer Document being If my investment profile shows me as sophisticated or professional investors, I acknowledge that the 5 business day cooling off period does not apply to me; authorise VentureCrowd, the Issuer and their advisers, respective officers, employees and agents to do anything on my/our behalf necessary (including the completion and execution of the application form and other documents) to enable the Shares to be allocated to me; have read and agree to be bound by the constitution and the shareholders’ agreement of the Issuer as in force from time to time, including any provisions which may (in certain circumstances) authorise the Issuer to take steps on my behalf or require me to dispose of my Shares; unless my of our VentureCrowd investment profiles shows me as sophisticated or professional investors, I represent and warrant that this application will not result in me/any of us exceeding the $10,000 cap on the amount I can invest in CSF offers made by the same company in any 12 month period (Note: Investors recognised as sophisticated or professional investors can apply for more than $10,000); I represent, warrant and agree that I am not in the United States, a US Person, a resident of the US for tax purposes and am/ are not acting for the account or benefit of a US person; are not a financial institution for the purposes of the Foreign Account Tax Compliance Act (FATCA) and are not controlled by a US person or a resident of the US for tax purposes; acknowledge that the information contained in the CSF Offer Document (and/or any supplement or replacement) and the VentureCrowd website and mobile application is not financial product advice nor an express or implied recommendation that Shares are suitable for me, given my investment objectives, financial situation or particular needs, and I understand that I should obtain my own professional advice in respect of any investment decision; represent and warrant: 1. that I have not acquired, or agreed to acquire (directly or indirectly including through other entities, trusts or arrangements) any Shares in the Issuer during this offer period, other than through the VentureCrowd application facility; 2. that I have the financial capacity to make this investment and to accept the risk of this investment (including the risk of loss of capital), without causing financial hardship to me/us or to any other person; 3. that I will provide such further information required under the Anti-Money Laundering/Counter-Terrorism Financing Act 2006 (Cth), the Corporations Act 2001 (Cth) or any other law requested by VentureCrowd, the Issuer or the Issuer’s share. I further acknowledge that failure to provide such information in a timely manner, if requested, may result in rejection of my application; 4. that all details and statements made by me are complete and accurate; 5. that my subscription for Shares will not cause VentureCrowd, the Issuer or me to violate the laws of Australia or any other jurisdiction; understand that Chapter 2C of the Corporations Act 2001 (Cth) requires information about me as a security holder (including my name, address and details of the securities I hold) to be included in the public register of the Information is collected to administer my/our security holding, to facilitate and improve VentureCrowd’s platform, any other purposes disclosed in the privacy policies referenced. If some or all of the information is not collected then it might not be possible to administer my My personal information may be disclosed to the Issuer and its share The privacy policy of VentureCrowd is available on its website; acknowledge that I have read and agree to the VentureCrowd privacy policy, and represent and warrant that I have read, agree to and have not breached the VentureCrowd Member Terms and Conditions (both available on the VentureCrowd website); understand that the Issuer or VentureCrowd has reserved the right to reject all or part of my application for any reason and is not required to provide any explanation; acknowledge that, in the event that the offer is oversubscribed, VentureCrowd or the Issuer may determine the allocation policy in its absolute discretion and I agree not to make any claim against VentureCrowd or the Issuer in relation to the allocation policy; except to the extent that liability cannot by law be excluded, I acknowledge that neither the Issuer, VentureCrowd, nor any of its affiliates, accept any responsibility in relation to the offer or the Shares. To the extent permitted by law, I agree to release the Issuer and VentureCrowd and each of its affiliates from all actions, claims, demands and proceedings (Claims) which I may have, or Claims against any of them in connection with my application and the offer (including its withdrawal). </stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Investment_Product_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Investment_Product_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Investor_Contribution_Fee__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IsActive</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Legal_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_Legal_Trading_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Maximum_Investment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Maximum_target__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Maximum_Subscription__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Maximum_target__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Minimum_Investment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Minimum_Investment_amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Minimum_Quantity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Minimum_Investment_amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Minimum_Subscription__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Minimum_target__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Offer_Close_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Offer_close_date__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Offer_Launch_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Offer_launch_date__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Portal_Display_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_Legal_Trading_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RecordTypeId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>0122v000002VOziAAG</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sector__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Sector__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Stage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Stage__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>CSF Product</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Tile_Banner__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>TBC</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Raise__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ProductCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_Name__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Raise_to_Product</name>
        <label>Transform Raise to Product</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Product_Wholesale_transform</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Product2</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Company__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_Legal_Trading_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Customer_SPV__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Account__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_Overview__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Family</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Investment_type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Investment_Product_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Investment_Product_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Legal_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_Legal_Trading_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Maximum_Investment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Maximum_target__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Maximum_Subscription__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Maximum_target__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Minimum_Investment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Minimum_Investment_amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Minimum_Quantity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Minimum_Investment_amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Minimum_Subscription__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Minimum_target__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Trust_Deed_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Offer_Close_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Offer_close_date__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Offer_Launch_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Offer_launch_date__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Portal_Display_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Company_Legal_Trading_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Raise__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sector__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Sector__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Stage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Form_Stage__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Trust_Deed_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Triggered_record.Trust_Deed_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AFSL_Licence__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>VC</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DisplayUrl</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>https://venturecrowd.file.force.com/sfc/dist/version/download/?oid=00DIm000000LMVN&amp;ids=0685i00000B15ei&amp;d=%2Fa%2F5i000000ggOP%2FZSWHHZ6FrRi6UaGvUM2UXaRjg88b3e.yhiVgnvv_5Zg&amp;asPdf=false</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Investment_Contract_Text__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>TBC</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Investor_Contribution_Fee__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <numberValue>1.1</numberValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IsActive</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ProductCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>UPPER(LEFT({!Get_Triggered_record.Trust_Deed_Name__c}, 1)) &amp; 

IF(
  CONTAINS({!Get_Triggered_record.Trust_Deed_Name__c}, &quot; &quot;), 
  UPPER(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1, 1)), 
  &quot;&quot;
) &amp; 

IF(
  AND(
    CONTAINS(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1, LEN({!Get_Triggered_record.Trust_Deed_Name__c})), &quot; &quot;),
    FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) &gt; 0
  ), 
  UPPER(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1, 1)), 
  &quot;&quot;
) &amp; 

IF(
  AND(
    CONTAINS(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1, LEN({!Get_Triggered_record.Trust_Deed_Name__c})), &quot; &quot;),
    FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) &gt; 0
  ), 
  UPPER(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) + 1, 1)), 
  &quot;&quot;
) &amp; 

IF(
  AND(
    CONTAINS(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) + 1, LEN({!Get_Triggered_record.Trust_Deed_Name__c})), &quot; &quot;),
    FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) + 1) &gt; 0
  ), 
  UPPER(MID({!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}, FIND(&quot; &quot;, {!Get_Triggered_record.Trust_Deed_Name__c}) + 1) + 1) + 1) + 1, 1)), 
  &quot;&quot;
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RecordTypeId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>0122v000002VOziAAG</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>VC Product</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>VentureCrowd_Fee_Text__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Investor Contribution Fee - 1.1% Fund Management Fee - 1.65% p.a. Performance Fee - 20% Off market transfer fee $500 + 2% of the transaction value</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
