common/force-app/main/default/flows/Raise_Final_Approval_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Final_Approval_Process_Raise</name>
        <label>Final Approval Process Raise</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Triggering_Raise.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Triggers the Final Approval process</description>
    <environments>Default</environments>
    <interviewLabel>Raise: Final Approval Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raise: Final Approval Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_error_message</name>
        <label>Log error message</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Raise: Final Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Raise: Final Approval Sub Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Triggering_Raise</name>
        <label>Get Triggering Raise</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Approval_Process_Raise</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Raise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Raise</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
