common/force-app/main/default/flows/Raise_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Raise_Approved_to_send_Invoice_Sub_Flow</name>
        <label>Raise Approved to send Invoice Sub Flow</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Raise_Payment_Received_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Approved_to_send_Invoice_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Close_Related_EOI_When_Raise_Live_Sub_Flow</name>
        <label>Raise: Close Related EOI When Raise Live Sub Flow</label>
        <locationX>182</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>Raise_No_Fees_Payable_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Close_Related_EOI_When_Raise_Live_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Content_Initial_Approval_Process_Sub_Flow</name>
        <label>Raise Content Initial Approval Process Sub Flow</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Raise_Approved_to_send_Invoice_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Content_approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Content_Initial_Approval_Process_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Create_Product_Sub_Flow</name>
        <label>Raise: Create Product Sub Flow</label>
        <locationX>182</locationX>
        <locationY>3131</locationY>
        <defaultConnector>
            <targetReference>Raise_Close_Related_EOI_When_Raise_Live_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger4</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live on VC Website</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Create_Product_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Fill_Raise_Record_with_EOI_Data_Sub_Flow</name>
        <label>Raise: Fill Raise Record with EOI Data Sub Flow</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Raise_Content_Initial_Approval_Process_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EOI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Fill_Raise_Record_with_EOI_Data_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Final_Approval_Sub_Flow</name>
        <label>Raise: Final Approval Sub Flow</label>
        <locationX>182</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Raise_Create_Product_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Raise_Final_Approval_Sub_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Course_unlocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Learning_completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending final approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Final_Approval_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Generate_Offer_Document_Sub_Flow</name>
        <label>Raise: Generate Offer Document Sub Flow</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Raise_Final_Approval_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Offer_document_approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Generate_Offer_Document_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Generate_Trust_Deed_Sub_Flow</name>
        <label>Raise: Generate Trust Deed Sub Flow</label>
        <locationX>182</locationX>
        <locationY>4331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Generate_Trust_Deed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Generate_Trust_Deed_Sub_Flow1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Next_Step_update_Sub_flow</name>
        <label>Raise - Next Step update Sub flow</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Raise_Fill_Raise_Record_with_EOI_Data_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Step__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Next_Step_update_Sub_flow1</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_No_Fees_Payable_Sub_Flow</name>
        <label>Raise: No Fees Payable Sub Flow</label>
        <locationX>182</locationX>
        <locationY>3731</locationY>
        <defaultConnector>
            <targetReference>Raise_Sync_Offer_Close_Date_From_Raise_to_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Fees_Payable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_No_Fees_Payable_Sub_Flow_Flow_1</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Payment_Received_Subflow</name>
        <label>Raise: Payment Received Subflow</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Update_stage_to_Pending_final_approval_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Payment_Received_Sub_Flow</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Relate_EOI_Message_Sub_Flow</name>
        <label>Raise: Relate EOI/Message Sub Flow</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Raise_Next_Step_update_Sub_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Relate_EOI_Message_Sub_Flow1</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raise_Sync_Offer_Close_Date_From_Raise_to_Product</name>
        <label>Raise : Sync Offer Close Date From Raise to Product</label>
        <locationX>182</locationX>
        <locationY>4031</locationY>
        <defaultConnector>
            <targetReference>Raise_Generate_Trust_Deed_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Offer_close_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Sync_Close_Date_from_Raise_to_Product_Sub_Flow</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_stage_to_Pending_final_approval_Subflow</name>
        <label>Raise: Update stage to Pending final approval Subflow</label>
        <locationX>182</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Raise_Generate_Offer_Document_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Learning_completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting to complete learning course</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_Update_stage_to_Pending_final_approval_Sub_Flow</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Trigger</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Raise Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raise Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Time_Period_Raise_Create_Update_Sub_Flow</targetReference>
        </connector>
        <object>Raise__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Raise_Approved_to_send_Invoice_Sub_Flow1</name>
        <label>Raise Approved to send Invoice Sub Flow</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Raise_Payment_Received_Subflow</targetReference>
        </connector>
        <flowName>Raise_Approved_to_send_Invoice_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Close_Related_EOI_When_Raise_Live_Sub_Flow1</name>
        <label>Raise: Close Related EOI When Raise Live Sub Flow</label>
        <locationX>50</locationX>
        <locationY>3539</locationY>
        <connector>
            <targetReference>Raise_No_Fees_Payable_Sub_Flow</targetReference>
        </connector>
        <flowName>Raise_Close_Related_EOI_When_Raise_Live_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Content_Initial_Approval_Process_Sub_Flow1</name>
        <label>Raise Content Initial Approval Process Sub Flow</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Raise_Approved_to_send_Invoice_Sub_Flow</targetReference>
        </connector>
        <flowName>Raise_Content_Initial_Approval_Process_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Create_Product_Sub_Flow1</name>
        <label>Raise: Create Product Sub Flow</label>
        <locationX>50</locationX>
        <locationY>3239</locationY>
        <connector>
            <targetReference>Raise_Close_Related_EOI_When_Raise_Live_Sub_Flow</targetReference>
        </connector>
        <flowName>Raise_Create_Product_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Fill_Raise_Record_with_EOI_Data_Sub_Flow1</name>
        <label>Raise: Fill Raise Record with EOI Data Sub Flow</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Raise_Content_Initial_Approval_Process_Sub_Flow</targetReference>
        </connector>
        <flowName>Raise_Fill_Raise_Record_with_EOI_Data_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Final_Approval_Sub_Flow1</name>
        <label>Raise: Final Approval Sub Flow</label>
        <locationX>50</locationX>
        <locationY>2939</locationY>
        <connector>
            <targetReference>Raise_Create_Product_Sub_Flow</targetReference>
        </connector>
        <flowName>Raise_Final_Approval_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Generate_Offer_Document_Sub_Flow1</name>
        <label>Raise: Generate Offer Document Sub Flow</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Raise_Final_Approval_Sub_Flow</targetReference>
        </connector>
        <flowName>Raise_Generate_Offer_Document_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Generate_Trust_Deed_Sub_Flow1</name>
        <label>Raise: Generate Trust Deed Sub Flow</label>
        <locationX>50</locationX>
        <locationY>4439</locationY>
        <flowName>Raise_Generate_Trust_Deed_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Next_Step_update_Sub_flow1</name>
        <label>Raise - Next Step update Sub flow</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Raise_Fill_Raise_Record_with_EOI_Data_Sub_Flow</targetReference>
        </connector>
        <flowName>Raise_Next_Step_update_Sub_flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Raise_No_Fees_Payable_Sub_Flow_Flow_1</name>
        <label>Raise: No Fees Payable Sub Flow Flow</label>
        <locationX>50</locationX>
        <locationY>3839</locationY>
        <connector>
            <targetReference>Raise_Sync_Offer_Close_Date_From_Raise_to_Product</targetReference>
        </connector>
        <flowName>Raise_No_Fees_Payable_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Payment_Received_Sub_Flow</name>
        <label>Raise: Payment Received Sub Flow</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Update_stage_to_Pending_final_approval_Subflow</targetReference>
        </connector>
        <flowName>Raise_Payment_Received_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Relate_EOI_Message_Sub_Flow1</name>
        <label>Raise: Relate EOI/Message Sub Flow</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Raise_Next_Step_update_Sub_flow</targetReference>
        </connector>
        <flowName>Raise_Relate_EOI_Message_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Sync_Close_Date_from_Raise_to_Product_Sub_Flow</name>
        <label>Raise : Sync Close Date from Raise to Product Sub Flow</label>
        <locationX>50</locationX>
        <locationY>4139</locationY>
        <connector>
            <targetReference>Raise_Generate_Trust_Deed_Sub_Flow</targetReference>
        </connector>
        <flowName>Raise_Sync_Close_Date_from_Raise_to_Product_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Raise_Update_stage_to_Pending_final_approval_Sub_Flow</name>
        <label>Raise: Update stage to Pending final approval Sub Flow</label>
        <locationX>50</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Raise_Generate_Offer_Document_Sub_Flow</targetReference>
        </connector>
        <flowName>Raise_Update_stage_to_Pending_final_approval_Sub_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Time_Period_Raise_Create_Update_Sub_Flow</name>
        <label>Time Period Raise Create/Update Sub Flow</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Raise_Relate_EOI_Message_Sub_Flow</targetReference>
        </connector>
        <flowName>Time_Period_Raise_Create_Update_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
