common/force-app/main/default/flows/Redemption_Transaction_Log_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opp_Prod_Current_Values</name>
        <label>Assign Opp Prod Current Values</label>
        <locationX>947</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Line_Item.Original_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProd_Current_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Line_Item.Original_Invested_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppProd_Current_Qunatity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OppProd_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Opp_Redeemed_amount_with_redeemed_status_as_none</name>
        <label>Calculate Opp Redeemed amount with redeemed status as none</label>
        <locationX>314</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Total_Redeemed_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currentredeemedamount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Total_Redeemed_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppCurrentRedeemedQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Closed_Won_Stages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Current_Holdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Current_Holding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Current_Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Current_investment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>calculate_opportunity_redemption_amount</name>
        <label>calculate opportunity redemption amount</label>
        <locationX>682</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Total_Redeemed_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currentredeemedamount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Total_Redeemed_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppCurrentRedeemedQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Closed_Won_Stages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Redeemed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Current_Holdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Current_Holding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunities.Current_Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Current_investment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Opportunity total redeemed amount check with the Original invested amount</description>
        <name>Opp_Total_Redeemed_Amount_Check</name>
        <label>Opp Total Redeemed Amount Check</label>
        <locationX>490</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>calculate_opportunity_redemption_amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>redeemed_amount_check_on_the_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Current_investment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Original_invested_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Opp_Redeemed_amount_with_redeemed_status_as_none</targetReference>
            </connector>
            <label>redeemed amount  check on the opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Currentredeemedamount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Opportunities.Total_Redeemed_Amount__c}-{!$Record.Redeemed_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Opp_Current_Holding</name>
        <dataType>Number</dataType>
        <expression>{!Get_Opportunities.Current_Holdings__c}+{!$Record.Redeemed_Holding__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Opp_Current_investment</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Opportunities.Current_Total_Price__c}+{!$Record.Redeemed_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>oppCurrentRedeemedQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Opportunities.Total_Redeemed_Units__c}-{!$Record.Redeemed_Holding__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>oppProd_Current_Amount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Opportunity_Line_Item.Original_Sales_Price__c}+{!$Record.Redeemed_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OppProd_Current_Qunatity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Opportunity_Line_Item.Original_Invested_Quantity__c}+{!$Record.Redeemed_Holding__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Redemption Transaction Log After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Redemption Transaction Log After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>575</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Total_Redeemed_Amount_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Item</name>
        <label>Get Opportunity Line Item</label>
        <locationX>768</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp_Prod_Current_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>890</locationX>
        <locationY>622</locationY>
        <connector>
            <targetReference>Get_Opportunity_Line_Item</targetReference>
        </connector>
        <inputReference>Get_Opportunities</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OppProd_Records</name>
        <label>Update OppProd Records</label>
        <locationX>1165</locationX>
        <locationY>379</locationY>
        <inputReference>Get_Opportunity_Line_Item</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>(1 AND 4) And (2 Or 3)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </filters>
        <filters>
            <field>Redeemed_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Redeemed_Holding__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Redemption_Transaction_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
