common/force-app/main/default/flows/Task_task_Due_Reminder_CRC_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Task_Reminder_Email</name>
        <label>Send Task Reminder Email</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <actionName>Task.Task_Due_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Through_Tasks.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.Task_Due_Reminder_Alert</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This tasks Sends reminder to the CRC Team for Due Task</description>
    <environments>Default</environments>
    <interviewLabel>Task : task Due Reminder CRC Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task : Task Due Reminder CRC Team</label>
    <loops>
        <description>Loops through the multiple tasks due</description>
        <name>Loop_Through_Tasks</name>
        <label>Loop Through Tasks</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Tasks_Due_Soon</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Task_Reminder_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetching task due which are assigned to Louise</description>
        <name>Get_Tasks_Due_Soon</name>
        <label>Get Tasks Due Soon</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0055i000000Q8dnAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tasks_Due_Soon</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-02</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
