common/force-app/main/default/flows/Transaction_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Sum_all_Interest</name>
        <label>Sum all Interest</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>InterestVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Interest.Line_item_amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_Interest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Interest_Clearing_found</name>
        <label>Interest Clearing found?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Line_items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sum_Interest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Adds accrued interest</description>
    <environments>Default</environments>
    <interviewLabel>Transaction Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction: Transaction Updates</label>
    <loops>
        <name>Sum_Interest</name>
        <label>Sum Interest</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Transaction_Line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_all_Interest</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Investment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Interest_Paid_Transactions</name>
        <label>Get all &quot;Interest Paid&quot; Transactions</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Line_items</name>
        <label>Get Transaction Line items</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interest_Clearing_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_all_Interest_Paid_Transactions.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Interest Clearing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Investment</name>
        <label>Update Investment</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Accrued_Interest__c</field>
            <value>
                <elementReference>InterestVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Investments__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Interest_Paid_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InterestVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
