common/force-app/main/default/flows/Update_Investment_Status_from_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Closed_or_Closing</name>
        <label>Closed or Closing</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Won_Stages__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Redeemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investment_Closing</targetReference>
            </connector>
            <label>Closing</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Won_Stages__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Redeemed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Won_Stages__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rollover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Won_Stages__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investment_Closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>Updates the Investment sub stages based on changes in the related opportunity</description>
    <environments>Default</environments>
    <interviewLabel>Update Investment Status from Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Update Investment Status from Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Investment</name>
        <label>Get Investment</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_or_Closing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Investment_Closed</name>
        <label>Update Investment Closed</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investment_Stages__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>invSub_Status__c</field>
            <value>
                <elementReference>$Record.Closed_Won_Stages__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investment_Closing</name>
        <label>Update Investment Closing</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investment_Stages__c</field>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>invSub_Status__c</field>
            <value>
                <elementReference>$Record.Closed_Won_Stages__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Investment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closed_Won_Stages__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122v000002VOzfAAG</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
