common/force-app/main/default/flows/Update_Primary_Contact_on_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Associated_Account</name>
        <label>Associated Account</label>
        <locationX>770</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Update_PA_Contact_ID_as_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contact</targetReference>
            </connector>
            <label>Is Not Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direct_Contact</name>
        <label>Direct Contact</label>
        <locationX>622</locationX>
        <locationY>657</locationY>
        <defaultConnector>
            <targetReference>Get_ACR_w_o_DIRECT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_w_DIRECT</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Update Primary Contact on Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Primary Contact on Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Contact</name>
        <label>Get Account Contact</label>
        <locationX>503</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Direct_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDirect</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACR_w_o_DIRECT</name>
        <label>Get ACR w/o DIRECT</label>
        <locationX>908</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact_w_o_DIRECT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Primary_Contact_w_o_DIRECT</name>
        <label>Primary Contact w/o DIRECT</label>
        <locationX>908</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_ACR_w_o_DIRECT.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PA_Contact_ID_as_Primary_Contact</name>
        <label>Update PA Contact ID as Primary Contact</label>
        <locationX>1048</locationX>
        <locationY>372</locationY>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record__Prior.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_w_DIRECT</name>
        <label>Update w DIRECT</label>
        <locationX>644</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_Account_Contact.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Associated_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
