common/force-app/main/default/flows/Update_Stage_from_Maturation_and_Create_task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Task_Action_1</name>
        <label>New Task Action 1</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Investment Maturing in less than 30 days</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>2F0055i00000CQCmG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Date_Difference</name>
        <label>Check Date Difference</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Within_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysUntilMaturation</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investment_stage</targetReference>
            </connector>
            <label>Within 30 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysUntilMaturation</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Maturation_Date__c} - TODAY())</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Stage from Maturation and Create task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Stage from Maturation and Create task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Investment</name>
        <label>Get Investment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Difference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Investment_stage</name>
        <label>Update Investment stage</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>New_Task_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Investment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Maturation_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
