common/force-app/main/default/flows/Update_Contact_on_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks if the account is a person account.</description>
        <name>Associated_Account</name>
        <label>Associated Account</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_PA_Contact_ID_as_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contact</targetReference>
            </connector>
            <label>Is Not Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direct_Contact</name>
        <label>Direct Contact</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_ACR_w_o_DIRECT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_w_DIRECT</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Contact on Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact on Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Related Direct account</description>
        <name>Get_Account_Contact</name>
        <label>Get Account Contact</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Direct_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDirect</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Update Account ID.</description>
        <name>Get_ACR_w_o_DIRECT</name>
        <label>Get ACR w/o DIRECT</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact_w_o_DIRECT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Primary_Contact_w_o_DIRECT</name>
        <label>Primary Contact w/o DIRECT</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <stringValue>37bc595f-709e-4ae4-878d-5c55b89b6978.ContactId</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If it is a person account update the contact lookup with the contact ID</description>
        <name>Update_PA_Contact_ID_as_Primary_Contact</name>
        <label>Update PA Contact ID as Primary Contact</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_w_DIRECT</name>
        <label>Update w DIRECT</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <stringValue>ac5fc895-69bc-48ef-9e76-9e648c5492e2.ContactId</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Associated_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
