common/force-app/main/default/flows/User_Deactivate_If_no_login_after_90_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Deactivation_Email</name>
        <label>Send Deactivation Email</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Deactivate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Salesforce user has been deactivated due to inactivity.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DeactivationEmailTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Warning_Email</name>
        <label>Send Warning Email</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Warning: Your Salesforce user may be Deactivated due to inactivity.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WarningEmailTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Threshold_Exceeded</name>
        <label>Threshold Exceeded</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Not Exceeded</defaultConnectorLabel>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLoginFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>WarningThresholdInDaysFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceCreationFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>WarningThresholdInDaysFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_ID</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warning_or_Deactivation</name>
        <label>Warning or Deactivation</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Send_Deactivation_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deactivation</defaultConnectorLabel>
        <rules>
            <name>Warning</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLoginFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DeactivationThresholdInDaysFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceCreationFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DeactivationThresholdInDaysFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Warning_Email</targetReference>
            </connector>
            <label>Warning</label>
        </rules>
    </decisions>
    <description>Flow that deativartes internal users after 90 days</description>
    <environments>Default</environments>
    <formulas>
        <name>DaysSinceCreationFormula</name>
        <dataType>Number</dataType>
        <expression>Today()-DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DaysSinceLoginFormula</name>
        <dataType>Number</dataType>
        <expression>Today()-DATEVALUE({!$Record.LastLoginDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DeactivationThresholdInDaysFormula</name>
        <dataType>Number</dataType>
        <expression>{!$CustomMetadata.custom_metadata_type__mdt.DeactivationThresholdInDays.Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WarningThresholdInDaysFormula</name>
        <dataType>Number</dataType>
        <expression>{!$CustomMetadata.custom_metadata_type__mdt.WarningThresholdInDays.Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>User: Deactivate If no login after 90 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Deactivate If no login after 90 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>User_ID</name>
        <label>User ID</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warning_or_Deactivation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate</name>
        <label>Deactivate</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Threshold_Exceeded</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qualifies_for_Auto_Deactivation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-26</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AdminEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;archie@venturecrowd.com.au&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DeactivationEmailTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have not logged into Salesforce in over 90 days. Per our policy, we have deactivated your account. If you believe this was done in error, please contact your System Administrator, Archie Georgiou.&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Deactivationemailtoadmin</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.Username}&lt;/span&gt; has been deactivated because they haven&apos;t logged in, in over 90 days.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WarningEmailTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We&apos;ve noticed that you have not logged in for a while. &lt;/p&gt;&lt;p&gt;We have a policy that will auto-deactivate any users who have not logged into Salesforce in 90 days you have not logged into Salesforce for 83 days. If you do not want your account to be deactivated, log in within 7 days from this email.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WarningEmailtoAdmin</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.Username}&lt;/span&gt; has received the 83 day deactivation warning.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
