common/force-app/main/default/flows/Wholesale_Membership_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Does a membership record already exist?</description>
        <name>Membership_Rec</name>
        <label>Membership Rec</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_an_Associated_Wholesale_membership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_Approved</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MembershipEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!$Record.Date_Validated__c},  24)</expression>
    </formulas>
    <interviewLabel>Wholesale Membership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wholesale Membership Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create new membership based on application information.</description>
        <name>Create_Membership</name>
        <label>Create Membership</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Membership_Ren</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>$Record.Membership_Validated_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_from__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>MembershipEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Approved__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122v000001r3KXAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_in_Months__c</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Wholesale</stringValue>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create new renewal based on application information</description>
        <name>Create_Membership_Ren</name>
        <label>Create Membership Ren</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Wholesale_checkbox</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_Start_Renewal_Date__c</field>
            <value>
                <elementReference>Get_an_Associated_Wholesale_membership.Eligible_from__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>MembershipEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Approved_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Create_Membership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <object>Membership_Renewal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a renewal record based of application information.</description>
        <name>Create_Renewal_Approved</name>
        <label>Create Renewal_Approved</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Membership</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>MembershipEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Approved_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_an_Associated_Wholesale_membership.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Date_Validated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <object>Membership_Renewal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_message</name>
        <label>Log message</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Record_details__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Function__c</field>
            <value>
                <stringValue>Create/update memberships and renewals</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Flow: Wholesale Membership Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>log_message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Accounts related to the application for Wholesale record type.</description>
        <name>Get_an_Associated_Wholesale_membership</name>
        <label>Get an Associated Wholesale membership</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122v000001r3KXAAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Membership with a new end date from the renewal</description>
        <name>Update_Membership</name>
        <label>Update Membership</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Wholesale_checkbox</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_an_Associated_Wholesale_membership.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>MembershipEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update account to Wholesale = TRUE</description>
        <name>Update_Wholesale_checkbox</name>
        <label>Update Wholesale checkbox</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wholesale__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_an_Associated_Wholesale_membership</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125i0000008TfYAAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Validated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Approved</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
